[2017-04-04 20:53] mickaelistria opened #1 "Embed JavaScript language server"
Embed JavaScript language server

[2017-04-04 20:55] mickaelistria opened #2 "Integrate runners and debuggers from JSDT"
We should embed the runners and debuggers from JSDT and integrate them in bluesky (and avoid including editors).

[2017-04-13 17:47] mickaelistria commented on #1
Done with https://github.com/mickaelistria/eclipse-bluesky/commit/7e04777f5c6a22233598935953518def505ef0e9

[2017-04-13 17:47] #1 closed

[2017-04-14 18:52] mickaelistria opened #3 "Warn when node is missing"
When node couldn't be found, the user should be warned.

[2017-04-17 20:05] mickaelistria opened #4 "Doesn't work on Windows"
On Windows, the language servers seem to give no response.

[2017-04-17 20:08] mickaelistria opened #5 "Many duplicate node_modules in bundle"
The way language servers are included in the bundle currently produces a lot of duplicate module, resulting in bigger size. We should avoid this duplication in order to reduce bundle size, then install time and memory consumption.

[2017-04-18 15:43] jabby commented on #4
On windows, I get the following error when I tried to autocomplete a package.json file with bluesky:

see: https://dev.eclipse.org/recommenders/community/aeri/v2/#!/submissions/KREVamlKQyOWSAVqpFSLmAL2lBNngvQULlEgM3vwwDF7iLgmuRdaPJZZZVzwDYPh

Here is the package.json file :

`{
  "name": "eclipseDemoCampNantes2017angularjs",
  "private": true,
  "devDependencies": {
    "autoprefixer-core": "^5.2.

[2017-04-18 16:41] mickaelistria commented on #4
Do you have node available in your PATH? If not, your case may be a correlate of #3

[2017-04-18 21:07] jabby commented on #4
You are right. Node is not available in my path. I will retry at the end of the week.

[2017-04-19 12:09] akurtakov opened #8 "No completion in html tags class attribute"
Taking the following snippet:
<html>
<style>
.myclass { background: green;}
</style></head>
<body>
<p class="">test</p></body>
</html>

If you try to autocomplete in p class="" there are no options shown. For comparison vscode gives many proposals including the previously defined in the file 'myclass'.

[2017-04-19 12:32] akurtakov opened #9 "Error in outline view when bluesky run as child eclipse."
Output in outline view is
ENOENT: no such file or directory 'open /path/to/eclipse/file:/path/to/project/file:/path/to/file.js'

[2017-04-19 12:33] akurtakov commented on #9
!MESSAGE ENOENT: no such file or directory, open '/home/akurtakov/opt/oxygen/eclipse/file:/home/akurtakov/work/runtime-launchConfiguration/test/file:/home/akurtakov/work/runtime-launchConfiguration/test/test.js'
!STACK 0
org.eclipse.lsp4j.jsonrpc.ResponseErrorException: ENOENT: no such file or directory, open '/home/akurtakov/opt/oxygen/eclipse/file:/home/akurtakov/work/runtime-launchConfiguration

[2017-04-19 12:55] mickaelistria commented on #9
Seems like the p2 repo doesn't contain the last version of LSP4E.

[2017-04-19 19:08] mickaelistria commented on #3
Should be fixed with https://github.com/mickaelistria/eclipse-bluesky/commit/efa4ba6d71bed7237639356d55a658948da7c887

[2017-04-19 19:08] #3 closed

[2017-04-19 19:12] mickaelistria commented on #9
@akurtakov This should now be a bit better. Can you please try reloading the TP and/or updating your version of bluesky to make sure you have a recent org.eclispe.lsp4e bundle (>= 0.2.0.20170413...)

[2017-04-20 07:37] akurtakov commented on #9
Refreshed (I have  0.2.0.201704132140 now) and what I see in outline view is "Computing symbols..." for both js and ts files. I assume this is not the correct behavior also.

[2017-04-20 07:44] akurtakov opened #10 "Hovering in js editor leads to errors in the log"
!ENTRY org.eclipse.lsp4e 4 0 2017-04-20 10:43:21.414
!MESSAGE
!STACK 0
java.util.concurrent.TimeoutException
	at java.util.concurrent.CompletableFuture.timedGet(CompletableFuture.java:1771)
	at java.util.concurrent.CompletableFuture.get(CompletableFuture.java:1915)
	at org.eclipse.lsp4e.operations.hover.LSBasedHover.getHoverInfo(LSBasedHover.java:91)
	at org.eclipse.ui.internal.genericeditor.Compo

[2017-04-20 07:51] mickaelistria commented on #10
With the latest update, seems like LSP4E doesn't receive any response from the JSTS server...

[2017-04-20 09:49] mickaelistria commented on #10
Do you see anything working for JSTS in general with latest version?

[2017-04-20 10:45] akurtakov commented on #10
I don't see any hover or autocomplete or similar if this is what you ask for. FWIW, js editing in html files works fine.

[2017-04-20 14:49] jabby commented on #9
I tried to launch an Eclipse child. The completion (ctrl+space) does not work for files.
The completion and the application freezed.

[2017-04-20 14:51] mickaelistria commented on #9
@jabby can you please create a separate issue for that. Those symptoms seem to have a different cause than the ones mentioned initially there.

[2017-04-20 15:00] jabby opened #11 "Completion and application freezed"
Environment:
Eclipse Platform
Version: Oxygen (4.7)
Build id: I20170126-1030
OS: Linux, v.4.10.9-200.fc25.x86_64, x86_64 / gtk 3.22.11
With bluesky

When I launched BlueSky in an Eclipse child, I tried the completion but it doesn't work.

How to reproduce

Use the folllowing snippet
[code]

* Add a "." and hit completion
* wait a little
* try to save the file
* The completion popup is still presen

[2017-04-25 09:24] mickaelistria commented on #4
https://github.com/mickaelistria/eclipse-bluesky/commit/5be3b82b276a87c900dd2c27dee8fc7212e0c5a4 should have fixed issues on Windows. Feel free to reopen this ticket if necessary.

[2017-04-25 09:24] #4 closed

[2017-04-25 09:28] akurtakov commented on #10
It was staled node modules in my build.

[2017-04-25 09:28] #10 closed

[2017-04-25 09:29] akurtakov commented on #9
This was stale node modules in my build.

[2017-04-25 09:29] #9 closed

[2017-05-15 20:15] vogella opened #12 "Eclipse dies with heapdump"
See screenshot.

![bluesky](https://cloud.githubusercontent.com/assets/139910/26077345/03ebe0ba-39bc-11e7-9e76-a52943e04222.png)

[2017-05-15 20:29] mickaelistria commented on #12
I can reproduce it when I open a MANIFEST.MF file.
Stacktrace is
[code]
As this is the only file I see failing that way, I imagine this can be in issue in the particular BundleManifestDescriber, or a missing `.close()` somewhere in LSP4E code (which doesn't show up with other files...)

[2017-05-19 11:55] ericahrens opened #13 "javascript Code completion doesn't seem to work"
[code]

CTRL+Space does not render any proposals.

[2017-05-19 12:16] bleidiessel commented on #13
I double checked it on Windows 10 and have the same behavior.

[2017-05-19 12:26] vogella commented on #13
Looks like the language servers are not available by default. @mickaelistria is this an error or should this be available by default.

[2017-05-19 13:48] mickaelistria commented on #13
Can you please share whether the <ws>/.metadata/.log file shows interesting related info?

[2017-05-19 13:55] mickaelistria commented on #13
The language server are enabled by default. BlueSky works well for several users. I suspect what can make the difference are things such as the version of `node` that's available in PATH and so on. I'll need the log and more details about the environment and node version to understand the root cause.

[2017-05-19 14:00] ericahrens commented on #13
node version is 6.9.1

[2017-05-19 14:02] ericahrens commented on #13
Here is something that pops up:

eclipse.buildId=4.7.0.I20170517-2000
java.version=1.8.0_131
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=de_DE
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -data file:/C:/eclipse/eclipse_oxygen/ws/

This is a continuation of log file C:\eclipse\eclipse_oxygen\ws\.metadata\.bak_0.log
Created Time: 2017-05-19 1

[2017-05-19 14:28] mickaelistria commented on #13
Ok, I'm using node 7.10. Maybe Language Server require a more recent
version. Can you please try?
If this is the cause, then a patch checking node version and warning if too
old would be welcome ;)

[2017-05-23 13:49] mniewrzal opened #14 "Unable to build locally"
I'm trying to build current master locally but I have error at the beginning of build:
[code]

[2017-05-23 14:33] mickaelistria commented on #14
Mylyn bundles have changed symbolic-name. The category.xml file has to be updated accordingly.

[2017-05-23 19:44] mickaelistria commented on #14
Should be fixed by bd65e077516495aa12f820d6dcbd2dcab856e6c5

[2017-05-23 19:44] #14 closed

[2017-05-23 20:19] mickaelistria commented on #12
upstream issue ( https://bugs.eclipse.org/bugs/show_bug.cgi?id=516896 ) was fixed and bluesky was re-built and re-deploy to make the patch available.

[2017-05-23 20:19] #12 closed

[2017-05-23 21:27] mniewrzal opened #15 "Support for additional languages"
What do you think about adding additional languages? I'm thinking about PHP. I'm finishing also integration for Python but I'm not sure if it fits web IDE.

[2017-05-23 21:30] mniewrzal commented on #14
Works ok now, thanks.

[2017-05-24 06:47] mickaelistria commented on #15
I'm not sure about it. The initial idea of BlueSky was to have a set of languages similar to the one shipped by webstorm, targetting web front-end developers.
That said, if the cost of including PHP or whichever other languages is low and non-intrusive, I don't see any reason to refuse it.
Maybe we could consider one step further and think about creating a p2 repo for all LSP-based language integr

[2017-05-24 07:53] mniewrzal commented on #15
If we make p2 repo for all LSP integrations I think it won't be necessary. I don't want to mess with idea behind BlueSky :)

Yes, I like this idea. I think it would be nice to have the ability to install each language separately. What do you think about creating such repo in EclipseLabs space?

Btw, I have this idea to create Eclipse product with pure platform + LSP4 + integrations as a POC.

[2017-05-24 07:57] mickaelistria commented on #15
No objection. Would you lead this effort? To startup, it could simply be a composite site.

That would make sense as part of the same repository. It could produce the p2 repo and the product.

[2017-05-24 08:10] mniewrzal commented on #15
Yes, why not :)

That was my idea.

Ok, closing this issue.

[2017-05-24 08:10] #15 closed

[2017-05-30 19:21] vogella opened #16 "NPE after installing bluesky"
All servers (CSS, HTML, JSTLLanguageServer) give me NPE errror after installation into an Eclipse 4.7 SDK.
Exception:
[code]

[2017-05-30 19:23] vogella commented on #16
@mickaelistria my second try with Bluesky. Still fails after installation for me.

[2017-05-30 19:33] mickaelistria commented on #16
Can you check whether #17 improve stuff a bit?

[2017-05-30 20:05] vogella opened #18 "Local build with "mvn clean verify" fails"
If I clone the repo and use "mvn clean verify" I get an error:

[INFO] Unpacking org.objectweb.asm_5.2.0.v20170126-0011...
[INFO] Resolving class path of MavenProject: org.eclipse.bluesky:org.eclipse.bluesky:0.1.0-SNAPSHOT @ /home/vogella/git/eclipse-bluesky/org.eclipse.bluesky/pom.xml
[INFO] Computing target platform for MavenProject: org.eclipse.bluesky:org.eclipse.bluesky.feature:0.1.0-SNAPSHOT

[2017-05-30 20:08] vogella commented on #16
Local build fails for me see #18

[2017-05-31 11:40] mickaelistria commented on #18
Fixed with #19

[2017-05-31 11:40] #18 closed

[2017-05-31 11:41] mickaelistria opened #20 "Enable travis-ci for PR check and automatic snapshot deployment"

[2017-06-01 11:21] mickaelistria commented on #20
Done with #21

[2017-06-01 11:21] #20 closed

[2017-06-07 20:28] vogella commented on #18
Build requires local npm installed. Works finally for me after installing that.

[2017-07-25 10:01] vogella commented on #16
Looks good with the pull request, I'm now getting a dialog that I'm missing nodejs and not a null pointer exception anymore.

[2017-07-25 10:07] mickaelistria commented on #16
Thanks for checking and reporting!

[2017-07-25 10:07] #16 closed

[2017-08-11 09:43] angelozerr opened #22 "Use typescript-language-server instead of using javascript-typescript-langserver"
Tody Eclipse Bluesky is using https://github.com/sourcegraph/javascript-typescript-langserver which implements LSP with TypeScript Language service.

IMHO, I think it should  be better to consume https://github.com/prabirshrestha/typescript-language-server (once it will support all features like diagnostic, etc) which uses tsserver.  Here pros to use it:

 * it's a Microsoft guy who has developed

[2017-08-11 09:46] angelozerr opened #23 "Embed Node.js Runtime"
Provide embed node.js runtime like I have done for typescript.java. It will give the capability to consumes LSP without installing node.js (VSCode does like this I think).

If you are interested, I could do a PR.

[2017-08-11 09:47] angelozerr opened #24 "Embed TypeScript Runtime"
If https://github.com/mickaelistria/eclipse-bluesky/issues/22 is done, we could provide ambed TypeScript Runtime that user could change to use last TypeScript version (like I have done with typescript.java).

[2017-08-11 10:03] mickaelistria commented on #23
How likely it is that a frontend developer doesn't have nodejs installed?
I don't think it's worth the effort.

--
Mickael Istria
Eclipse IDE <https://www.eclipse.org/downloads/eclipse-packages/>
developer, at Red Hat Developers <https://developers.redhat.com/> community

[2017-08-11 10:09] mickaelistria commented on #22
supported by this LS is smaller that the one from current LS, it's not
worth it.

@felixfbecker: wdyt?

--
Mickael Istria
Eclipse IDE <https://www.eclipse.org/downloads/eclipse-packages/>
developer, at Red Hat Developers <https://developers.redhat.com/> community

[2017-08-11 10:16] mickaelistria commented on #24
How many TS developers don't have tsserver installed? I believe simply
expecting tsserver to be in PATH and warn if missing would be enough.

--
Mickael Istria
Eclipse IDE <https://www.eclipse.org/downloads/eclipse-packages/>
developer, at Red Hat Developers <https://developers.redhat.com/> community

[2017-08-11 18:04] felixfbecker commented on #22
Awesome to see that MS is doing steps in the direction of LSP. I initially played around with just using TSServer, but that has some problems. To be clear, TSServer is just the RPC server that exposes the TS language service API. So in our language server, we expose the language server API directly over LSP, while in @prabirshrestha's, the language service API is first exposed through the TSServer

[2017-08-11 19:15] prabirshrestha commented on #22
Although I'm a MS employee, `typescript-language-server` is my own pet project that I'm doing during my free time and has actually nothing to do with official MS working on it. I don't work in TypeScript team nor any of the tooling or language teams.

I'm one of those devs who still uses vim at work. I didn't find any good vim plugins for typescript that suits my needs ie, is purly async and works

[2017-08-13 10:28] angelozerr commented on #22
Thanks @felixfbecker @prabirshrestha to have taken time to answer us!

In my case, I'm studying if I could migrate [TypeScript IDE](https://github.com/angelozerr/typescript.java ) and [Angular Eclipse](https://github.com/angelozerr/angular-eclipse) to LSP. I'm consumming tsserver and TypeScript plugins for angular support (completion, hover, etc inside Component/template) and compile on save. More

[2017-08-13 13:16] angelozerr commented on #23
If you are developping JEE Application and you wish to benefit with HTML, CSS features you don't need node.js. IMHO, I think Bluesky should work without any other program installation like node.js. VSCode works like this I think.

[2017-08-13 13:17] angelozerr commented on #24
expecting tsserver to be in PATH and warn if missing would be enough.

Customize the TypeScript sdk/runtime should be very good like VSCode does.

[2017-08-13 13:18] angelozerr commented on #13
If problem comes from node.js version, I think https://github.com/mickaelistria/eclipse-bluesky/issues/23 should fix this problem.

[2017-08-13 15:41] felixfbecker commented on #22
@angelozerr it would be great if you could express your desire at https://github.com/Microsoft/TypeScript/issues/11274 so Microsoft sees people want this :)

I am definitely not reinventing the wheel, the limitations rather come from the RPC protocol. So by switching to LSP you get these for free. See this architectural overview:

![TS architecture](https://raw.githubusercontent.com/wiki/Microsoft

[2017-08-13 16:53] angelozerr commented on #22
Thanks again @felixfbecker for your very complete answer!

Ok I will do that.

tsserver provides plugins support (tslint, angular), compile on save support, ATA support, so it's not only a simple wrapper of language service API. It's the reason why I would like to use tsserver with BlueSky otherwise I could not provide the same feature with LSP BlueSky than  [TypeScript IDE](https://github.com/ang

[2017-08-13 17:06] felixfbecker commented on #22
There is a WIP PR for TS plugins: https://github.com/sourcegraph/javascript-typescript-langserver/pull/327
It is only a matter of loading them into the language service.
I think ATA is in the language service too.

[2017-08-13 17:16] angelozerr commented on #22
It is only a matter of loading them into the language service.

Yes I have seen that, but it's a sample of feature that you must reimplement it like tsserver.

It's very important for me to consume tslint and angular plugings otherwise I cannot to swith to LSP.

There are some code inside tsserver for ATA https://github.com/Microsoft/TypeScript/tree/master/src/server/typingsInstaller

Yes sure, I

[2017-08-17 13:43] angelozerr opened #25 "JSON Schema Support"
I have implemented quicly JSON Schema Support (see my PR at https://github.com/angelozerr/eclipse-bluesky/commit/73fd3da30160071e2e432210dc1d9e94c2dea817).

Here a demo:

![jsonschema](https://user-images.githubusercontent.com/1932211/29415223-9c123b56-8362-11e7-8a00-4f62acbafd9c.gif)

To do that, I need to send custom notification `json/schemaAssociations` with mapping between pattern (ex: packag

[2017-08-17 13:47] angelozerr commented on #25
I have created a bug in lsp4e at https://bugs.eclipse.org/bugs/show_bug.cgi?id=521065

[2017-08-17 14:18] angelozerr opened #26 "1 plugin per language"
IMHO, I think org.eclipse.bluesky should be splitted in several plugins: one plugin per language.

[2017-08-17 15:16] angelozerr commented on #8
The completion result in VSCode doesn't provide from the HTML language server but by a default completion processor which is computed with tokenisation.

Generic Editor provides this kind of completion processor by default `org.eclipse.ui.internal.genericeditor.DefaultContentAssistProcessor`. You can test easily by renaming your file with unknown file extension (ex: test.html2) and open it with Ge

[2017-08-18 22:21] mickaelistria commented on #22
At the moment, there is no value for BlueSky to adopt another LS for JS/TS. So let's close this issue.
BlueSky can consider switching to another LS when there is a clear added-value for most users.

[2017-08-18 22:21] #22 closed

[2017-08-18 22:25] mickaelistria commented on #24
Embedding TS runtime is clearly something we should avoid as it causes more
issues that it fixes. Most ts developers have installed TS runtime by
themselves.
However, providing a preference to let end-user define another location for
TS runtime could be nice.
But I'm not convinced it's a high-priority issue at the moment.

[2017-08-18 22:27] mickaelistria commented on #23
There are package managers such as rpm for that. I don't think the burden should be carried by BlueSky, especially as it would drastically grow the download size and may lead users to inconsistencies ("why don't Eclipse and command-line behave the same...?  [3 hours later] Ok, it's not using the same node.js!").
A simple warning pop-up if node.js is not available or version is too old should be en

[2017-08-18 22:35] mickaelistria commented on #26
Can you please elaborate why? What are the existing use-cases for this?

[2017-08-18 23:25] angelozerr commented on #22
BlueSky can consider switching to another LS when there is a clear added-value for most users.

When I will try to support advanced features like compile on save or tslint/angular support, I will give you feedback

[2017-08-18 23:30] angelozerr commented on #24
issues that it fixes. Most ts developers have installed TS runtime by
themselves.

VSCode works like this. It provides a default typescript sdk.

TS runtime could be nice.

With angular project generated with angular-cli, the typescript runtime is installed in the node_modules of your project. It's better to consume it instead of consuming an another ts runtime.

[2017-08-18 23:38] angelozerr commented on #23
Take a sample. I have a computer where node.js is not installed and I want to develop HTML, CSS, JavaScript application:

 * I install VSCode, it works.
 * I install Eclipse IDE + BlueSky, it doesn't work. I don't need node.js, so I telll me why I must install node.js. I give up BlueSky and uses VSCode.

None offense with your idea, I would like just to give you some feedback with typescript.java

[2017-08-18 23:53] angelozerr commented on #26
* there are a several configuration for a given language: language server, textmate, etc which is very time the same. I'm working on VSCode language-configuration.json and it will add new file configuration. So when we will want to add another language (like xml for instance), it will be easy to copy/paste an existing plugin (ex: org.eclipse.bluesky.json) and do find/replace json by xml, and that'

[2017-08-19 06:11] mickaelistria commented on #26
If this is with the goal of contributing to bluesky, then I don't get why multiple bundles make copy-paste easier than copy-pasting from and into the same bundle.

Why do you need separate bundles to contribute that? The current bundle could totally welcome those classes.

[2017-08-19 06:19] mickaelistria commented on #24
VSCode is implemented in typescript and is mostly and IDE for TypeScript,
so it can make sense in its specific case (just like NetBeans for Java EE
includes Glassfish). But it doesn't make it necessarily a good idea for the
Eclipse IDE IMHO.
We've have the experience with JDT or Maven: maintaining an alternative
implementation or shipping a piece of software that users do already have
or manage dr

[2017-08-19 06:26] mickaelistria commented on #23
Ok, so it could simply be a change in https://github.com/mickaelistria/eclipse-bluesky/blob/master/org.eclipse.bluesky/src/org/eclipse/bluesky/InitializeLaunchConfigurations.java#L56 to use alternative strategies:
* If node is in PATH, use it (current)
* If not and node is found in the Eclipse IDE installation (we could/should consume the node.js runtime packaged into some Eclipse plugin.

Doesn't

[2017-08-19 06:35] mickaelistria commented on #25
See how the CSS LS handles a similar scenario: https://github.com/mickaelistria/eclipse-bluesky/blob/master/org.eclipse.bluesky/src/org/eclipse/bluesky/CSSLanguageServer.java#L64 . It basically sends a message after is receives confirmation of successful initialization.

[2017-08-19 06:54] mickaelistria commented on #25
Just on a side note, this feature is super useful, thanks!

[2017-08-19 07:18] mickaelistria commented on #8
I think it would be best to try to defer the ability to compose processors as much as possible. Composition is an extremely complex issue to solve properly, and giving the power to contributors to fix complex issue usually comes with serious drawbacks such as higher complexity for adoption and higher risks of mis-usage of the framework.
However, I do like the idea of falling-back to token completi

[2017-08-19 08:23] angelozerr commented on #26
I prefer having a plugin per language which configure the language instead having one plugin which does all (it will be become difficult when we will had custom behaviour for a language).

VSCode does that https://github.com/Microsoft/vscode/tree/master/extensions. Each extension have a textmate gramme file a language-configuration.json file etc.

I would like to follow the same idea, but if you d

[2017-08-19 18:33] angelozerr commented on #25
Many thanks for your help! I have done a PR https://github.com/mickaelistria/eclipse-bluesky/pull/27

Glad it please you!

[2017-08-20 16:26] mickaelistria commented on #26
I don't think it's a bad idea, I just don't have the impression this is high priority at the moment as it wouldn't deliver much added-value compared to the current state. That's why I was asking for a user-story to support this change to decide of how high I should place it in my todo-list ;)
But if this is very important to you and you feel ready to make a PR for it, that would be welcome!

[2017-08-20 20:24] angelozerr commented on #26
I would like to do several PR like JSON Schema contribution, language configuration, xml support, etc and I'm afraid that bluesky will start be complex because there are a lot of configuration file.

That's why I have suggested to split into several plugins. I could do that if you wish but my main problem is about org.eclipse.bluesky\language-servers, I have not very understood how dependencies fr

[2017-08-20 21:32] ibuziuk commented on #23
Unfortunately, no. We wanted to bundle node.js with JSDT and opened CQ[1] (which has been approved for a couple of month by now) but  literally had no bandwidth to implement it.

[1] https://dev.eclipse.org/ipzilla/show_bug.cgi

[2017-08-21 06:52] angelozerr commented on #23
@ibuziuk thanks for your answer. Your CQ link is good?

I think it should be very cool to have an official embedjs nodejs runtime which could be consumed by tern.java, typescript.java an lsp4e/bluesky.

[2017-08-21 07:50] ibuziuk commented on #23
@angelozerr good catch. I have updated CQ[1] link - `node.js Version: 4.4.3`

[1] https://dev.eclipse.org/ipzilla/show_bug.cgi?id=11306

[2017-08-21 07:54] angelozerr commented on #23
@ibuziuk current node.js is `v6.11.2` . I don't remember but I think I had some trouble with tssererver/protractor or tern.java with this version. IMHO I think we should consume  `v6.11.2`

[2017-08-21 08:03] ibuziuk commented on #23
@angelozerr than new CQ should be created and one for 4.4.3 should be used as a piggyback

[2017-08-21 09:23] mickaelistria commented on #25
PR merged! Thanks a lot!

[2017-08-21 09:23] #25 closed

[2017-08-21 23:35] angelozerr opened #30 "[css language server] Display color inside editor"
The CSS Language server provides a custom `css/colorSymbols` request (see https://github.com/Microsoft/vscode/blob/master/extensions/css/server/src/cssServerMain.ts#L16) which provides a list of ranges where a color must be included in the editor:

I have implemented quickly this feature and here the result:

![image](https://user-images.githubusercontent.com/1932211/29542124-322ece96-86d9-11e7-9d

[2017-08-22 07:14] mickaelistria commented on #30
Is this red square inserted as a character in the editor (and text document)?

[2017-08-22 08:10] angelozerr commented on #30
No this red square is drawn with a `PaintObjectListener`.  When text editor content changes, it calls `css/colorSymbols` (with reconciler) which returns lsp4j range. This range is from start/end `red` text. After that I create a StyleRange with GlyphMetrics and paintObject display the red square. This red square is not editable. I'm using the same technic than http://www.java2s.com/Tutorial/Java/0

[2017-08-22 08:12] angelozerr commented on #30
@mickaelistria If you wish I could push my work in my github project to see how it works.

[2017-08-22 18:12] angelozerr commented on #30
Here a little demo:

![csscolordemo](https://user-images.githubusercontent.com/1932211/29580232-971dad94-8775-11e7-83cb-2b90711d4419.gif)

It's not perfect because the colorization is done with the character before the definition of the color. I don't know how to takes some place with StyledText without modifying the StyledText. I have tried with GlyphMetrics but it eats the first character of the

[2017-08-23 08:27] angelozerr commented on #26
@mickaelistria see my PR https://github.com/mickaelistria/eclipse-bluesky/pull/31 I have not splitted plugins but just reorganize declaration and package name

[2017-08-25 14:06] angelozerr opened #35 "Provide XML/XSL language support"
Provide XML language support with :

 * syntax coloration for XML, XSL
 * language configuration for XML, XSL

The XML Language Server doesn't exists for the moment https://github.com/Microsoft/vscode/issues/1440

That's shame -(

[2017-08-31 08:39] angelozerr commented on #26
@mniewrzal seems wishing split of plugins per language https://github.com/eclipselabs/language-servers-for-eclipse/issues/2 no?

[2017-08-31 09:11] angelozerr opened #36 "Provide custom register of JSON Schema associations"
Today JSON Schema associations is hard coded https://github.com/mickaelistria/eclipse-bluesky/blob/master/org.eclipse.bluesky/src/org/eclipse/bluesky/json/JSonLanguageServer.java#L66

So it's not possible to contribute with custom JSON Schema (from user preferences or plugins). It should be better to provide the capability to regsiter JSON Schema association:

 * with plugin via extension point.

[2017-08-31 11:01] angelozerr commented on #35
If you wish I can do a PR for that. I can create a new project `org.eclipse.bluesky.xml` or add xml support inside existing  `org.eclipse.bluesky` project.

@mickaelistria tell me what you prefer.

[2017-08-31 11:03] mickaelistria commented on #35
Is there a language server available for XML already?

[2017-08-31 11:06] angelozerr commented on #35
No, perhaps  https://github.com/Microsoft/vscode/issues/1440#issuecomment-281164002 could work?

But my PR is for syntax coloration + language configuration (auto close) like VSCode provides. I think basic XML/XSL support is important for BlueSky which is defined as "Web dev in Eclipse IDE".

[2017-08-31 12:23] mickaelistria commented on #35
Is the result better in term of features and UX that what Eclipse XML editor already offers?

[2017-08-31 12:29] angelozerr commented on #35
No, but it's like JSON support. IMHO "Web dev in Eclipse IDE" should provide XML support if you qualify your plugin as "Web".

[2017-08-31 12:38] mickaelistria commented on #35
JSon support in VSCode LS has json schema support; which IIRC is missing
from Eclipse WTP JSon Editor.

Ok, we could consider including the WTP XML feature in the BlueSky feature
for completeness.

[2017-08-31 12:43] angelozerr commented on #35
No Eclipse WTP JSON Editor provides JSON Schema support (completion is working, but not validation if I remember).

I don't like this idea. Eclipse WTP XML Editor will host a lot of other plugins. I would like to have a clean XML Editor where "looks and feels" looks for other editor than HTML, JavaScript, etc

It's one of reason why I would like to migrate to bluesky for my "Angular Eclipse" proje

[2017-08-31 12:59] mickaelistria commented on #35
I'm not convinced that these days, it's worth spending so much effort in
creating a new XML editor that would ultimately be weaker than the existing
one in WTP.
Some of WTP editors are weak and are worth being replaced. For the XML one,
I'm not sure achieving the same level of features is achievable with a TM +
language server approach.
BlueSky could welcome a new XML editor when we at least have

[2017-08-31 13:00] angelozerr commented on #30
@mickaelistria have you interested with this feature. Please note that this color feature is a proposed feature
https://github.com/Microsoft/vscode-languageserver-node/blob/9d6b53e0feb4039af95e2d108c376d8fc92d8b37/protocol/src/protocol.colorProvider.proposed.ts#L41

In other words I think lsp4e should host the coloration code with StyledText. I have seen (code) that JSON Server supports too color

[2017-08-31 13:03] mickaelistria commented on #30
Yes, this is a good proposal and I wish this makes it into BlueSky soon. I'm waiting for https://bugs.eclipse.org/bugs/show_bug.cgi?id=521418 to be fixed before we can properly integrate it in the Generic Editor.

[2017-08-31 13:07] angelozerr commented on #30
Cool!

I think we can do the same thing for JSON too. I'm waiting for https://bugs.eclipse.org/bugs/show_bug.cgi?id=521418  to do a PR. After you will able to move the code to lsp4e if you wish.

[2017-09-01 11:19] angelozerr commented on #35
That's hard today because it doesn't exists XML Language Server.

My idea is to provide a basic XML Editor (like VSCode does) with syntax coloration and auto close. Once an XML Editor will exists we could consume it.

Provide a basic XML editor with language-configuration and textmate takes me 10 minutes, so I find it's shame that bluesky doesn't provide it.

[2017-09-01 11:20] angelozerr commented on #36
@mickaelistria I can do a PR if you wish and if you are OK that I extract JSON language in a new plugin.

[2017-09-01 11:24] angelozerr opened #37 "JSON Format support"
The JSON language server provides the capability to support format, but it requires before fix of LP4E https://bugs.eclipse.org/bugs/show_bug.cgi?id=510275

[2017-09-01 11:39] mickaelistria commented on #36
Sure!

[2017-09-01 11:39] angelozerr opened #38 "CSS Format support"
CSS Language Server doesn't provide this feature, I have created an issue for that at https://github.com/Microsoft/vscode-css-languageservice/issues/44

[2017-09-01 11:40] mickaelistria commented on #37
As mentioned on the Eclipse bug, I believe the fix(es) should rather be in
the language server directly.

[2017-09-01 12:01] mickaelistria commented on #36
I believe it would be much more interesting to place this registry in a sttandalone bundle in WTP-JSON and to consume this common registry in BlueSky. Factorization and common work always pay back.

[2017-09-01 12:03] angelozerr commented on #36
If we do that, it requires installation of WTP JSON and you will have 2 JSON Editors. IMHO I think bluesky should not depend on WTP.

[2017-09-01 12:07] mickaelistria commented on #36
I said "standalone bundle" as a new bundle not requiring WTP JSon Editor nor other layers of WTP. If WTP is open to host such a bundle, it's where it should be.
We cannot work on a totally separate stack if there is no value for it. Placing some stuff in WTP is highly profitable for BlueSky (as there would be shared maintenance) and WTP.

[2017-09-01 12:11] angelozerr commented on #36
Sorry I had not understood. My fear is that we will wait for a long time to have this plugin.

Developping this extension point is easy, but I agree with you if WTP could provides that it should cool (I  think about UI preferences)

To be honnest with you, I'm a little discouraged with WTP which takes a long time to accept PR. Do like you think. Me I would prefer developping the extension point wh

[2017-09-01 12:20] mickaelistria commented on #36
to have this plugin.

long time to accept PR. Do like you think. Me I would prefer developping
the extension point which is quick.

Implementing it in WTP takes as much time as implementing it in aCute. Once
the patch is submitted, I'm pretty sure some committers will review it
promptly and merge it as soon as it's good enough and that it could be
consumed as part of next milestone of WebTools.
Th

[2017-09-02 08:02] mickaelistria commented on #35
I think we can come up with a good trade-off: as part of the generic editor initiative, some validation and IAutoIndentStrategies and Syntax Highlighter were created for XML-based files (.project. .target). Those extensions are for the vast majority XML-generic. So instead of a language server, you could work on Platform side (directly) to extract out the XML-specific extensions into a org.eclipse

[2017-09-02 08:03] mickaelistria commented on #35
Not that the proposal above doesn't include a Language Server for XML for Eclipse-specific XML extensions o generic editor. I think at the moment, it's really what would provide the best effort/value ratio, and not only for bluesky but for the Platform as a whole.

[2017-09-02 11:09] angelozerr commented on #30
@mickaelistria I will soon do a PR. It works for CSS and JSON where CSS and JSON language server support it.

The feature that I don't know to implement is that color rectangle doesn't take place. You can do it by adding extra characters like http://www.java2s.com/Tutorial/Java/0280__SWT/StyledTextembedimages.htm but it update content of the editor.

Do you know if it's possible? Do you know where

[2017-09-02 11:20] mickaelistria commented on #30
Adding space of non-payload character to a Text Editor is a hard thing.
This is already the topic of
https://bugs.eclipse.org/bugs/show_bug.cgi?id=507548 . I suggest you keep
discussing on this bugzilla and describe the new use-case there.

[2017-09-02 17:30] angelozerr commented on #35
Cool:) But to be honnest with you, I'm very busy with other toipcs like language configuration (match bracket, etc), CSS color,  and editorconfig (a topic that I think it's very important for eclipse).

[2017-09-05 12:19] angelozerr opened #41 "Custom hover for CSS color with ColorPicker"
Once I will finish https://github.com/mickaelistria/eclipse-bluesky/issues/30 I would like to provide a ColorPicker (like VSCode does) to choose color.

@mickaelistria do you think it's possible to provide custom hover with GenericEditor? If yes, could you give me some directive please to implement custom hover. Thanks!

[2017-09-05 12:22] mickaelistria commented on #41
Yes, just implement the ITextHover, ITextHoverExtension, ITextHoverExtension2 interfaces, and in this implementation, make the IInformationControlCreator create the right widgets. Then associate your hover class with the CSS content-type and it should enable it.

[2017-09-06 06:49] angelozerr commented on #41
Thanks @mickaelistria, I will try it.

[2017-09-06 06:52] angelozerr opened #42 "less & scss support"
less and scss doesn't work because it misses grammar. It should be cool to add those grammars and language configuration for thoses languages.

It should better too to consume VSCode css textmate https://github.com/Microsoft/vscode/blob/master/extensions/css/syntaxes/css.tmLanguage.json (to fix for CSS https://github.com/eclipse/tm4e/issues/135)

@jabby I think you could create a little PR for tha

[2017-09-07 00:44] jabby commented on #42
@angelozerr I miss this issue. I will do a PR  tomorrow.

[2017-09-07 10:55] angelozerr commented on #42
Thanks @jabby for your help!

[2017-09-07 10:57] angelozerr opened #44 "Toggle CSS Color"
@mickaelistria if you accept my PR https://github.com/mickaelistria/eclipse-bluesky/pull/43 which support CSS color, I would like to provide a **Toggle CSS Color** like we have for mark occurrences **Toggle Highlight**

I think it could be good to have this feature if my work with CSS color have some bugs, to disable it.

[2017-09-07 12:42] mickaelistria commented on #44
Or better, if it has some bugs, we fix them ;)
Except for bugs, I don't see any good reason why a user would want to turn off color preview and use this yet-another-toolbar-item, so I don't think it's a good topic to spend effort on at the moment.

[2017-09-07 16:27] angelozerr commented on #44
Yes sure:) But I fear that if there are bugs, user will give up bluesky. I know the user (I'm an user), if it's slow or if there are rendering bugs, I give up the toolings.

I have created this issue because:

 * VSCode provides this settings
 * If there are bugs or performance bugs, user can disable it.

I think it's not difficult to do that, no? (more now we have a sample with Toggle Highlight).

[2017-09-07 20:49] angelozerr commented on #38
If you wish that CSS Language Server supports Format please help read my comments https://github.com/Microsoft/vscode-css-languageservice/issues/44#issuecomment-327837372

I have quickly implemented my idea and it works great. I can format my CSS content. Hope guys of CSS language service will accept my idea. Please help me!

[2017-09-08 10:55] jabby opened #45 "Autocompletion doesn't work after a file is close"
Today I made some new test to integrate the support of less and css support. I notice a problem with completion. Maybe the bug is not in bluesky but in lsp4e instead.

How to reproduce :
- Open a css file with one rule
- use the completion in the rule
- close the file
- open it again
- try again the completion : the completion fail

The following log is present in console :
[code]

[2017-09-08 16:09] angelozerr commented on #35
@mickaelistria I promise you, it's the last time that I try to convince you to provide XML/XSL support with language configuration and syntax color by using tm4e. With 4 files we will have thoses very helpful supports (matching bracket will come too).

If you don't want to support XML/XSL with bluesky, you can close this issue.

[2017-09-08 16:26] mickaelistria commented on #35
The question remains: is it any better than the WTP/XML editors in term of
value delivered to users?

[2017-09-08 16:36] angelozerr commented on #35
value delivered to users?

For the moment, no, but in the future when language server will be available, I think yes. The thing that I like with tm4e is that we have the same syntax coloration for any languages (HTML, JSON, CSS and I hope with this issue XML/XSL)

[2017-09-09 19:22] mickaelistria commented on #35
Ok, so let's first create the additional value, and then we'll ship this to
user. In the meantime, as long as the WTP XML editor is better, it's the
one we should include if we want XML support.Then we can change later on
when another XML editor gets better.

[2017-09-11 10:24] angelozerr commented on #35
Thanks @mickaelistria to have taken time to answer me. Hope XML Language Server will come soon.

[2017-09-13 10:11] angelozerr commented on #41
Here a little demo of my current work about CSS Color hover:

![colorpickerdemo](https://user-images.githubusercontent.com/1932211/30371961-854d3662-987c-11e7-940e-901bc781d395.gif)

I'm waiting a fix for problem which closes hover when color picker is opened https://bugs.eclipse.org/bugs/show_bug.cgi?id=522203#c4 and after I will create a PR

[2017-09-13 10:57] mickaelistria commented on #41
Why is this an issue to close the hover popup? I would expect click "OK" on
the color picker to directly apply the change. I don't have the impression
need to have the hover popup persisting behind the color picker.
In general, I think it's in the very root of Hover mechanism in JFace to
hide it as soon as focus changes ; so I'm afraid it's going to be hard to
change that.
Instead of a button ther

[2017-09-13 11:04] angelozerr commented on #41
You mean having the Color picker UI in the hover? If it that I totally agree with you, but not possible because ColorDialog uses native color picker and works only in a dialog. Developping my own color picker is a thing that I would like to avoid (I'm afraid to spend a lot of time to do that).

hide it as soon as focus changes ; so I'm afraid it's going to be hard to
change that.

-(

Sorry I don'

[2017-09-13 11:07] mickaelistria commented on #41
You wrote "I'm waiting a fix for problem which closes hover when color
picker is opened". My question is "why is it a problem?" ie if hover closes
and color picker shows up, it seems to be an acceptable behavior.

[2017-09-13 11:08] angelozerr commented on #41
The big problem is that if hover close while ColorDialog is displayed, it crashes the Eclipse IDE.

[2017-09-13 11:10] mickaelistria commented on #41
Have you tried using another parent shell? Instead of using the Hover
shell, this dialog would probably better use the editor's active shell as
parent (because once it's opened, it's more related to the editor than to
the hover actually).

[2017-09-13 11:57] angelozerr commented on #41
Good catch! I'm waiting for accepting PR https://github.com/mickaelistria/eclipse-bluesky/pull/43 to do a new PR with color picker.

[2017-09-13 12:04] mickaelistria commented on #41
What's in #43 that's necessary to implement the color picker?

[2017-09-13 12:17] angelozerr commented on #41
I'm using ColorSymbolAnnotation to retrieve if there are color or not and activate hover.

[2017-09-14 11:33] angelozerr commented on #38
Good news, @aeschli is aware to customize CSS Language Server with a given CSS formatter. See
https://github.com/Microsoft/vscode-css-languageservice/issues/44#issuecomment-329424640

[2017-09-14 14:05] angelozerr commented on #41
@mickaelistria @mniewrzal I have an another idea to choose color: I do that without hover but just by clicking on color square. Here a little demo:

![simplecolorpickerdemo](https://user-images.githubusercontent.com/1932211/30434012-5a3210d4-9966-11e7-87e5-7fbb87971c25.gif)

 * Pros: with just one click you select your color.
 * Cons: you cannot choose format rgb, hexa color. Where can I add that,

[2017-09-14 15:07] mickaelistria commented on #41
I think having it on both click and hover makes sense.
Click is nicer for people using touchscreens (like Surface Pro machines) as
touchscreens don't encourage much hovers.
Hover is usually easier to discover for users having a mouse because the
features enable itself automatically.

[2017-09-14 15:16] angelozerr commented on #41
Ok so if I understand you wish to have both hover and click.

I propose you to create 2 PRs:

 * one with click
 * one with hover

Having 2 PRs will ease review. Are you OK?

[2017-09-14 15:26] mickaelistria commented on #41
ok!

[2017-09-14 20:54] angelozerr commented on #41
@mickaelistria @ymniewrzal you can find PR with color dialog opened by click at https://github.com/mickaelistria/eclipse-bluesky/pull/48

[2017-09-15 07:32] angelozerr opened #49 "Integrate eslint language server"
ESLint is very used in JavaScript word. It seems that VSCode provides an eslint language server https://github.com/Microsoft/vscode-eslint/blob/master/server/src/server.ts

I think it should  be interesting to integrate it but activate with some condition like:

 * search if it exists an eslint.json in the project root
 * force the activation of the eslint language server with a preferences.

In o

[2017-09-15 07:46] mickaelistria commented on #49
Sounds like a good idea! Do you know which kind of features is provided by the eslint server? Is there more than diagnostics?
If it's only about diagnostic, I think it could be a separate bundle, that we could suggest as addition to JSDT later (and consume in BlueSky).

[2017-09-15 07:49] angelozerr commented on #49
Never played with it. But you can see feature support at https://github.com/Microsoft/vscode-eslint/blob/master/server/src/server.ts#L591

[2017-09-15 10:48] angelozerr commented on #49
For the moment vscode-eslint doesn't support --stdio

We must wait for https://github.com/Microsoft/vscode-eslint/issues/290

[2017-09-15 10:57] mniewrzal commented on #49
But does it have LSP support? Maybe it supports TCP/IP communication?

[2017-09-15 11:10] angelozerr commented on #49
According https://github.com/Microsoft/vscode-eslint/blob/master/server/src/server.ts#L289 it supports IPC

`let connection = createConnection(ProposedFeatures.all, new IPCMessageReader(process), new IPCMessageWriter(process));`

I have tried to replace this code with

`let connection = createConnection()`

like JSON, CSS Language server does (it search for instance if stdio is in the args), but i

[2017-09-15 11:33] mickaelistria commented on #49
LSP4E doesn't require stdio and can work with any stream. However, AFAIK,
there is no good Java client for IPC that would allow to easily build a
stream.

[2017-09-15 12:46] jabby commented on #23
I have a little question : is node.js runtime embedded in other IDE like Netbeans and Intellij IDEA ?
I don't think that embed node.js runtime is a killer feature. A good warning should be sufficient.

[2017-09-18 12:24] mickaelistria commented on #30
Anything remaining on this issue or can we close it?

[2017-09-18 12:25] mickaelistria commented on #45
Seems like a bug in LSP4E.

[2017-09-18 13:19] mickaelistria opened #51 "CSS color preview seems to fail to take into account font size change"
When I'm using a different font size (Zoom in/out), the color preview box seems misplaced.

![screencast_09-18-2017_03_15_29-pm](https://user-images.githubusercontent.com/469058/30543933-17bba32e-9c85-11e7-8d88-78c31ad52738.gif)

[2017-09-18 16:11] #30 closed

[2017-09-18 16:12] angelozerr commented on #30
@mickaelistria I close it.

[2017-09-18 16:57] mickaelistria commented on #51
cc @angelozerr

[2017-09-18 17:05] angelozerr commented on #51
This bug comes from that GlyphMetrics  width which is used to takes place is not updated when there are zoom https://github.com/mickaelistria/eclipse-bluesky/blob/master/org.eclipse.bluesky/src/org/eclipse/bluesky/colors/ColorSymbolSupport.java#L442

Indeed GlyphMetrics   width is updated when StyledText is invalidated (when editor content changes). I have not found solution for the moment.

The c

[2017-09-21 08:19] mickaelistria commented on #51
Fixed with #53, thanks @angelozerr !

[2017-09-21 08:19] #51 closed

[2017-09-21 08:24] angelozerr commented on #51
Thanks @mickaelistria !

[2017-09-21 13:16] jabby commented on #45
I just create a bug report here : https://bugs.eclipse.org/bugs/show_bug.cgi?id=522579

[2017-09-21 20:41] jabby commented on #42
Maybe we can close this issue.

[2017-09-21 20:47] mickaelistria commented on #42
Yes. Fixed with https://github.com/mickaelistria/eclipse-bluesky/commit/9129818234766bbed93d6a8f2c9f134fc2fed74e . Thanks a lot @jabby !

[2017-09-21 20:47] #42 closed

[2017-09-22 10:26] angelozerr commented on #35
@mickaelistria an another pros to support XML/XSL editor with GenericEditor is that we will benefit to customize the editor with .editorconfig with https://github.com/angelozerr/ec4e

For the moment only `indent_style `and `indent_size `are supported  I'm implementing trim trailling and other properties. In other words it should be cool to have XML/XSL support to benefit with those features.

[2017-09-22 18:07] PhaserEditor2D opened #54 "Quick start guide"
Hi,

I installed Blue Sky but I don't know how to make it work. I see there is a Language Server preference page where I can add Content Type - Run Configuration associations but I don't know what to do here. I do not find any Lang Server Run Configuration.

[2017-09-22 21:31] mickaelistria opened #55 "Warn missing or incompatible node.js"
If a user does not have a compatible version of node.js instalked, there should be a popup  to notify them about the issue.

[2017-09-22 21:33] mickaelistria commented on #54
It should just work without extra step. Could it be that your node.js version is not compatible? See #55

[2017-09-25 14:24] boniatillo-com commented on #54
I just updated to node v6.11.3 and still not work.

I see in the Error Log view a lot of messages like these:

[code]

[code]

[2017-09-25 14:25] boniatillo-com commented on #54
I just created a general project with an empty demo.js file. I press Ctrl+Space to see the completions but not completions are shown.

[2017-09-25 14:28] boniatillo-com commented on #54
Well, I created a CSS file, and completions works. Even, I created an index.html file and works the javascript completions inside a script tag. So I guess the problem is just about to javascript files.

[2017-09-25 14:35] mickaelistria commented on #54
I'm using node 7.x locally and it works for me. The CSS and JS language server are distinct, so it's possible that the CSS is fine with node 6.x whereas the JS one is not.

[2017-09-25 14:52] boniatillo-com commented on #23
I think that there are many Eclipse projects right now using nodejs, maybe the better is to create a third project, something like the NodeRT for Eclipse project, that is just about to bundle the node runtime so it creates consistency across the different projects that require this runtime.

Then the end users can install node into eclipse optionally, and the node runtime can be updated via eclips

[2017-09-25 14:58] mickaelistria commented on #23
@boniatillo-com That is a good idea and it was already wished/discussed in the past without much action emerging from it. You could bring this to the appropriate Eclipse.org mailing-list and lead this initiative.

[2017-09-25 15:36] boniatillo-com commented on #54
Installed node 8 and failed, now I gave to downgrade :(

[2017-09-25 15:44] boniatillo-com commented on #54
Ok, it is not working with node 7.10.1, I think the node version is not the problem here.

[2017-09-25 15:48] mickaelistria commented on #54
Ok, thanks for trying. It might be some URL pattern issues with the JS server ( https://github.com/sourcegraph/javascript-typescript-langserver ). I only tried it on Linux... Maybe @angelozerr or @jabby have a clue?

[2017-09-25 16:00] jabby commented on #54
Now I am on fedora too... Sorry.

[2017-09-25 16:03] angelozerr commented on #54
@boniatillo-com you try bluesky from github sources?

If it that :

 * edit https://github.com/mickaelistria/eclipse-bluesky/blob/master/org.eclipse.bluesky/language-servers/package.json
 * remove all dependencies except javascript-typescript-langserver
 * do a npm install to install  javascript-typescript-langserver

[2017-09-25 16:09] boniatillo-com commented on #54
@angelozerr I installed it with the marketplace client. I will try with the sources.

[2017-09-25 16:26] angelozerr commented on #54
@boniatillo-com You will have compilation problem in your plugin.xml I think because bluesky uses the new reconciler extension point of GenericEdtor, but it's not a problem for js (only for css color).

[2017-09-29 15:10] angelozerr opened #56 "Integrates YAML language server"
As bluesky provides a YAML support, it should be very cool to Integrate YAML Language server https://github.com/redhat-developer/yaml-language-server

[2017-09-29 15:25] mickaelistria commented on #56
I think we already have this integration working for Red Hat Developers Studio. I did bootstrap it months ago for Kubernetes: http://www.screencast.com/users/mistria/folders/Default/media/b66f72b7-445d-4675-900a-aab3f484be79 and I think some other developers inside Red Hat have continued to work on it. I'll investigate and try to get this migrated to BlueSky.

[2017-10-13 09:17] JoyeLuo commented on #23
I was wondering that is it possible that we can use it without node.js?

[2017-10-13 09:29] mickaelistria commented on #23
All language servers internally used by BlueSky to compute completion, hover and so on do require node.js. So node.js is a strong requirement for complete feature set.
If you're interested to contribute inclusion and shipping of node.js inside BlueSky to remove the dependency, that'd be welcome.

[2017-11-01 18:27] paulvi commented on #23
That was @angelozerr initial proposal to do PR if there is interest,

[2017-11-03 08:33] paulvi opened #58 "Add screnshots to https://marketplace.eclipse.org"
Please add screenshots to https://marketplace.eclipse.org/content/bluesky-web-development-eclipse-ide-experimental

[2017-11-06 08:23] mickaelistria commented on #58
Can you please provide some screenshots that you think are the best for the Marketplace entry?

[2017-11-07 11:22] paulvi commented on #58
I cannot tell what would be the best, but there is already 1 screenshot in the root of this git repository.

[2017-11-07 11:30] mickaelistria commented on #58
Done.

[2017-11-07 11:30] #58 closed

[2017-11-14 13:00] Turbine1991 opened #59 "As a non-Eclipse user, what does this mean 'In an Eclipse target platform definition'"
Hi, I'm trying to get Bluesky to work with the Eclipse Web release. However I'm finding the last past of the instructions rather ambiguous.

What and how/where would I go about doing this instruction?

Thank you.

[2017-11-14 13:19] Turbine1991 commented on #59
I now realise it's not required for use. First time problems.

[2017-11-14 13:19] #59 closed

[2017-12-06 23:18] jabby opened #60 "Can't build Eclipse Bluesky locally"
Hello,

My environment:

* Linux Fedora 26
* Eclipse IDE for Java Developers
* Version: Oxygen.1a Release (4.7.1a)
* Build id: 20171005-1200
* OS: Linux, v.4.13.11-200.fc26.x86_64, x86_64 / gtk 3.22.21
* Maven embedded in my Eclipse
* Node v8.9.1
* npm 5.5.1

I tried today to build Eclipse Bluesky locally and I am facing a problem with the npm install part. I get the following error.

[code]

I ch

[2017-12-07 08:28] mickaelistria commented on #60
Did you try a `mvn clean verify` from a clean working tree on command-line? Or do you only see this from Eclipse IDE/m2e?
Command-line works for me with the following environment
[code]
I usually don't enable Maven support for Eclipse plugin development.

@paulvi: does your smiley mean you can reproduce this issue? If yes, could you please share some details about your workflow and environment?

[2017-12-08 16:04] jabby commented on #60
After a new try, I can install language servers with your versions of nodejs and npm. I don't know what is break the npm install yet. Maybe we should add this information in the README for contributors?

I have an other problem but I think it is because I use the following repository in my git branch. http://download.eclipse.org/eclipse/updates/4.8-I-builds

[2017-12-10 11:10] mickaelistria commented on #60
Sure. I'll gladly merge a PR adding such a note.

Feel free to open other tickets. BlueSky should work with 4.8 as well.

--
Mickael Istria
Eclipse IDE <https://www.eclipse.org/downloads/eclipse-packages/>
developer, at Red Hat Developers <https://developers.redhat.com/> community
Elected Committer Representative at the Eclipse Foundation
<https://www.eclipse.org/org/> board of directors

[2017-12-14 12:55] mickaelistria commented on #45
Upstream is fixed. So marking this one as closed too.

[2017-12-14 12:55] #45 closed

[2017-12-20 00:09] jabby opened #61 "Can't build Eclipse Bluesky after target platform update"
Hello,

I update the target.platform file to use the following repository instead of the 4.7 one. (See [this branch](https://github.com/jabbytechnologies/eclipse-bluesky/tree/feature/issue-2) to check my modification)

When I try to build the plugin with mvn clean install, I get the following error.

[code]

[2017-12-20 01:17] paulvi commented on #61
In short

[2017-12-20 07:11] mickaelistria commented on #61
this org.objectweb.asm 5.2.0.v20170126-0011 is present in http://download.eclipse.org/tools/orbit/R-builds/R20170516192513/repository/ . I don't get why this error happen ad will investigate a bit more soon.

[2017-12-20 10:03] jabby commented on #61
Thanks Mickael. I will update my target platform file and try to build the project.

[2017-12-23 15:18] wsdjeg commented on #22
hmm get this issue from google, so which one should we use ? is there any user experience differences?

[2018-01-15 16:51] jabby commented on #60
Hello again, I don't know if I need to create a new issue for that, because the problem source is not the same as this issue.
Today I checkout eclipse bluesky and run a build with mvn clean package. It doesn't work. It fails on a dependency on jface.

I think it is related to the following issue on bugzilla https://bugs.eclipse.org/bugs/show_bug.cgi?id=508458

[code]

[2018-01-15 16:58] mickaelistria commented on #61
The target-platform needs to be updated to use http://download.eclipse.org/eclipse/updates/4.8-I-builds/ instead of current 4.7

[2018-02-12 19:49] PhaserEditor2D opened #62 "Is this going to be the future of JS/HTML development in Eclipse?"
Hi, in the next weeks I should start working on the new version of Phaser Editor and I will replace JSDT with something modern. I am evaluating this project and TypeScriptIDE. What I like about this project is that it is fully based on LSP and has no JSDT dependency. However, I do not see too much activity recently.  I am willing to collaborate and continue with the development of this, or is ther

[2018-02-12 19:58] mickaelistria commented on #62
The edition part is fully based on LSP.
The debugger is the nodejs debugger binding which is part of JSDT (but doesn't require JSDT editor). At the moment, there is no better alternative we're aware of for JS debugging in Eclipse IDE.

The project is really open for contribution. It can even become an Eclipse.org project if adopters feel there is value for it. Basically, if you want this project t

[2018-02-12 20:31] PhaserEditor2D commented on #62
Thanks for the quick response and info. I will do a try.

[2018-02-12 20:31] #62 closed

[2018-02-17 14:18] angelozerr commented on #62
@PhaserEditor2D I would like to move my work for typescript IDE and angular eclipse to bluesky but today there are several missing features like matching brackets, etc which misses. I'm working on those issues with tm4e (language configuration). If one day I can support the whole missing features with lsp (like CodeLens for typescript, compiel on save, etc) I will move to bluesky

[2018-02-19 13:28] PhaserEditor2D commented on #62
Hi @angelozerr thanks for sharing your plan.

I will continue pushing in this direction, even if it is not complete. Right now the most important thing about Phaser Editor is the visual designer, so for javascript/typescript programming, a syntax coloring is a start. However, the goal is a complete javascript editor solution, including inline javascript edition and other kind of things useful for

[2018-02-19 13:39] angelozerr commented on #62
I suggest you to use GenericEditor with tm4e to consume TypeScript TextMate (which is done in eclipse bluesky).

I think eclipse bluesky is a very good plan for your Phaser Editor. It already support completion, navigation, etc for HTML, JS, CSS and TypeScript. I think once language configuration will be finished (to support match brackets, etc), I think you will have the same feature than JSDT.

[2018-02-19 14:49] PhaserEditor2D commented on #62
Yes I agree.

[2018-02-19 19:15] PhaserEditor2D commented on #62
By the way, I am really curious about this: https://www.genuitec.com/products/codemix/invite/

[2018-02-19 19:49] mickaelistria commented on #62
So am I. And unfortunately, the company behind the project is usually a very closed, open-source leecher, so it's hard to know more about it.
My guess is that they typically do what this project, Eclipse aCute, Eclipse Corrosion and several other projects do: make language server-based Eclipse IDE plugins, using most often the language-servers that are used in VSCode plugins. I guess they use LSP4

[2018-02-19 19:53] angelozerr commented on #62
You are describing eclipse-bluesky, no?

[2018-02-19 19:57] mickaelistria commented on #62
No, I'm describing what I think Genuitec's CodeMix is. But indeed, I
imagine it's like a clone of eclipse-bluesky.

[2018-02-19 19:59] PhaserEditor2D commented on #62
Yes, for that reason I mentioned it, who knows they forked this.

[2018-03-17 00:36] angelozerr opened #63 "Eclipse BlueSky doesn't work with Photon M6"
I have downloaded Eclipse Photon M6 and installed bluesky with Marketplace and hover, completion doesn't work with HTML Language server:

[code]

The strange thing is that highlight is working. There is the same problem with other language server.

[2018-03-19 10:59] mickaelistria commented on #63
Highlight as a failback so it can work without LS. I'll investigate.

[2018-03-19 11:03] mickaelistria commented on #63
@angelozerr this is working for me. Can you please check which version of LSP4E is installed on your IDE where you see the issue?

[2018-03-20 08:30] angelozerr commented on #63
I have downloaded a fresh version of Photon and install http://repository.jboss.org/nexus/content/unzip/unzip/org/eclipse/bluesky/repository/0.1.0-SNAPSHOT/repository-0.1.0-SNAPSHOT.zip-unzip/

[2018-03-20 08:50] mickaelistria commented on #63
I just updated TP and node_modules. Can you please try again?

[2018-04-11 17:52] PhaserEditor2D commented on #54
Hi @angelozerr yes, I am getting compilation problems, a missing `org.eclipse.ui.genericeditor.reconcilers` extension point. How can I fix it? I want to start collaborating on this.

[2018-04-11 20:14] PhaserEditor2D commented on #54
Yes, it works now with 4.8

[2018-04-11 20:15] #54 closed

[2018-04-14 18:15] angelozerr commented on #35
@mickaelistria are you OK that I create a PR to support XML support and consume https://github.com/microclimate-devops/xml-language-server ? Today it supports only validation, but if you are OK, I think I could contribute to xml-language-server for other features.

[2018-04-16 07:58] mickaelistria commented on #35
I still have the impression that including a reference to the WTP XML editor for XML would provide more value to users than building on top of this LS at the moment. We could consider adding a XML LS in BlueSky when the value is superior to the one WTP XML editor, but it doesn't really make sense before that.

[2018-04-16 08:04] apupier commented on #35
Given the level of feature of WTP XML editor and that the current state of the current LSP XML level, I would say that the best would be to create a new LS for XML which is embedding WTP xml editor, it will also allows to provide good Maven pom.xml support.
Not sure how hard it will be.

[2018-04-16 08:10] angelozerr commented on #35
WTP XML has a lot of dependencies, and I would like to consume tm4e for syntax coloration for having the same look and feel of other grammar (json, css, html, etc)

I understand, I have created an issue at https://github.com/microclimate-devops/xml-language-server/issues/9 to provide advanced features like completion, symbol provider, etc

Not sure how hard it will be.

I have started to study thi

[2018-06-18 09:23] mickaelistria opened #64 "Move to Eclipse.org"
We should move BlueSky to Eclipse.org to grow user and contributer pool and to start placing BlueSky as a real competitor to WebTools/JSDT.

[2018-06-18 19:02] PhaserEditor2D commented on #64
This will be great.

[2018-06-18 19:04] PhaserEditor2D opened #65 "Jsdoc view"
Hi,

Any plan to implement a **Jsdoc** view, like the **Javadoc** view in JDT?

Is it a concern of the LSP4E framework or a BlueSky concern?

[2018-06-18 19:05] PhaserEditor2D opened #66 "Type Hierarchy"
To implement a **Type Hierarchy** view, like the one in JDT.

[2018-06-18 19:11] mickaelistria commented on #65
A dedicated view for documentation isn't really generic and would be a specific feature for BlueSky more than a feature for generic editor.
Doesn't BlueSky already show Jsdoc as hover? Isn't it enough?

[2018-06-18 19:13] mickaelistria commented on #66
Type hierarchy is not (yet) supported by Language Server Protocol. See https://github.com/Microsoft/language-server-protocol/issues/136

[2018-06-18 19:54] PhaserEditor2D commented on #65
My point is that BlueSky is more about an IDE than a text editor (like VSCode), and I think an IDE should provide a Documentation view. I agree it is not to be used often, but there are cases where you would like to show the docs in a view and not in a popup, for example, if you are studying a third-party code. Or for example, if you are browsing types and members in a Hierarchy view, or an Outlin

[2018-06-18 19:55] PhaserEditor2D commented on #66
Ok thanks.

[2018-06-18 20:00] mickaelistria commented on #65
The Outline view is a "default" view shipped by Eclipse Platform and there is a dedicated LSP operation (Symbols) for that. So it's easy to push content from language server to a standard view.
But AFAIK, there is no standard Documentation view, and the mapping with Hover is not immediate as Hover is likely to contain other information than documentation (things like a preview or static analysis f

[2018-06-19 02:34] PhaserEditor2D commented on #65
In understand. I will close this issue. I will experiment with "my own" Documentation view. If in the future BlueSky or LSP4E gets a view like this then I will migrate.

Thanks.

[2018-06-19 05:38] mickaelistria commented on #65
Feel free to keep the issue open.
BlueSky would welcome a patch adding such a documentation view if you wish to contribute.
If we see that several *DT have a documentation view (like JDT or others) then we can even consider trying to add this view definition to Platform and let plugins contribute to it, just like the outline view.

[2018-06-19 07:21] angelozerr commented on #65
Indeed @PhaserEditor2D I think we should replace JSDT by BlueSky, but to do that we need the same important feature of JSDT.

[2018-06-19 12:06] PhaserEditor2D commented on #65
I reopen then.

[2018-06-23 08:55] angelozerr commented on #35
@mickaelistria as you know, it exists today 3 XML Language Server work in process:

 * https://github.com/gorkem/xml-ls
 * https://github.com/microclimate-devops/xml-language-server
 * https://github.com/angelozerr/xml-languageserver

In my case, I'm working on https://github.com/angelozerr/xml-languageserver and to test it, I have added XML support in BlueSky. Can I just push my work only with :

[2018-06-28 07:16] angelozerr commented on #35
IMHO I think XML support should be hosted in BlueSky, because:

 * "Simple and productive Web Development Tools in the Eclipse IDE" needs XML support like web.xml, xsl, etc
 * XML is used like config file like JSON, YAML, etc. BlueSky provides JSON, YAML, so why XML is not supported

Ok I have created this support at https://github.com/angelozerr/lsp4e-xml but I hope one day I will convince you to

[2018-06-28 08:22] mickaelistria commented on #35
The idea behind bluesky is mostly to have an offer dedicated to front-end web development. Not sure XML is part of the typical front-end stack these days and that many node.js developers do use it.
Is there XML support in webstorm?

[2018-06-28 08:42] apupier commented on #35
I would give same answer than Mickael. If Web developers are using xml, go for it, otherwise don't include it.
As @angelozerr pointed that it is provided in Webstorm I guess that it is used by web developers then I would say that it would be better to include xml LS in Bluesky.

[2018-06-28 08:46] mickaelistria commented on #35
mmhhh...
Ok Angelo, you won ;)
Please bring a XML LS support in bluesky whenever you want. But since we
plan to move BlueSky to Eclipse Fdn soon, please do so only if the LS is
licence-compatible with EPLv2.

[2018-06-28 16:42] mickaelistria commented on #64
Process started: https://dev.eclipse.org/mhonarc/lists/tools-pmc/msg04473.html
I authored the proposal and it should be published soon.

[2018-07-06 19:49] LucasBullen opened #68 "Error while computing document highlights"
Pulled from master
`mvn clean verify` succeeded
No error when imported `org.eclipse.bluesky` in my workspace which also includes lsp4e
Open an empty .css file
Receive the following message from the server:
[code]
Receiving no successful messages and as the above is sent over lsp4e causes errors in lsp4j when trying to parse.

[2018-07-09 15:33] mickaelistria opened #69 "Rename project for move to Eclipse.org"
Following #64
In https://bugs.eclipse.org/bugs/show_bug.cgi?id=536650 , the Eclipse IP Team reported that Eclipse BlueSky is not allowed as a project name because of high risk of trademark issues. So we need to consider some new names.
We're moving discussion about finding a new name from Bugzilla to here.

Current proposals are (list update as discussion progresses):
- WEB4e
- Eclipse Wild Web De

[2018-07-09 15:43] mickaelistria commented on #69
My comments
* Web4e: 👎 I think this doesn't sound like an interesting name for the target audience of the project
* Eclipse Wild Web Developer: 👍
* Eclipse Wild Web IDE: 👎 it's a bit dangerous that this get rid as Eclipse Wild (Web IDE) which may imply it's an IDE running over the web.
* Eclipse Webdev Workbench:  👍
* Eclipse WebNG: 👎 as I find it unclear it's about tools, but if we call it someth

[2018-07-10 07:32] paulvi commented on #69
While "blue sky" became general,
how about "Blue Wild" or "Wild Blue"

second :+1: Wild Web Developer

or "World Wild Web Developer"

[2018-07-18 20:37] mickaelistria commented on #44
@angelozerr shouldn't this work out-of-the-box when using a recent LSP4E?

[2018-07-19 08:47] jabby commented on #69
* Web4e: 👎 as Mickael, I don't think it's good for target audience
* Eclipse Wild Web Developer: 👍
* Eclipse Wild Web IDE:  I like the name but I think Mickael is right.
* Eclipse Webdev Workbench:  👎 I don't like the name. At least for some french people. It reminds me this company https://www.pcsoft.fr/ and the [poor sexist marketing done](https://www.google.com/search?biw=1842&bih=998&tbm=isch&

[2018-07-20 14:38] mickaelistria commented on #69
Name `Eclipse Wild Web Developer` was approved and will be used by the project.
We need to rename the bundles/packages before migrating.

[2018-07-22 20:14] angelozerr commented on #44
Do you mean my contribution for supporting ls color https://bugs.eclipse.org/bugs/show_bug.cgi?id=533322 ? If it that, no, this issue is to provide a toggle command for enable/disable color provider like highlight. But if you like this idea, now it's LSP4é which should support that.

[2018-07-23 08:50] angelozerr opened #71 "Remove color support for JSON and CSS"
Once  https://bugs.eclipse.org/bugs/show_bug.cgi?id=533322 will be merged in LSP4E, we must remove the color support https://github.com/mickaelistria/eclipse-bluesky/tree/master/org.eclipse.bluesky/src/org/eclipse/bluesky/colors

[2018-07-25 20:44] jabby commented on #69
Thanks Mickael for leading thebug on eclipse bugzilla.

As you explain, we need to rename bundles and packaging before migrating.
I can do that next week. But I don't know how to proceed.

Should we replace bluesky by wildwebdeveloper inn bundles and packages? Should we use underscore between words?

[2018-07-26 14:33] jabby commented on #69
Maybe we can use `wwd` for wild web developer in packages and bundles. Like jdt does with his own project.
I will create a PR with this idea next week.

[2018-07-30 13:38] mickaelistria commented on #69
I'm afraid there are already several things using "wwd" as acronym and don't see much benefit in using `wwd` rather than `wildwebdeveloper` in package name. I'd be in favor of using `org.eclipse.wildwebdeveloper` as package and bundle prefix everywhere. It's a few more character, but way less risks of confusion and more simple navigation.

[2018-07-30 15:51] jabby commented on #69
Ok I will create a PR tomorrow morning.

[2018-07-30 15:51] angelozerr commented on #69
Thanks @jabby !

[2018-08-01 11:50] jabby commented on #68
Hello @LucasBullen I can't reproduced your problem with the last version of the project. Do you still have this issue?
If you can reproduce, please share the operating mode to reproduce the problem.

Thanks.

[2018-08-01 14:20] LucasBullen commented on #68
Working with master and this is no longer an issue

[2018-08-01 14:20] #68 closed

[2018-08-02 12:25] #69 closed

[2018-08-16 09:35] mickaelistria commented on #64
We'll need to:
* Open a CQ for the code
* Open CQ for the dependencies (node modules I guess) one by one...

[2018-09-13 09:35] D023535 opened #73 "Update Site broken"
Hi,

the mentioned link to the market place
https://marketplace.eclipse.org/content/wildwebdeveloper-web-development-eclipse-ide-experimental

and the update site

http://repository.jboss.org/nexus/content/unzip/unzip/org/eclipse/wildwebdeveloper/repository/0.1.0-SNAPSHOT/repository-0.1.0-SNAPSHOT.zip-unzip/

are not working currently.
thank you

[2018-09-13 11:02] mickaelistria commented on #73
Thanks a lot for the report.

I just fixed it.

It seems like that travis configuration is erroneous and fails to perform the deploy step. I've deployed/published manually build from last commit to this URL.
When Wild Web Developer moves to Eclipse.org (within a few days), I'll update the infrastructure to use Jenkins instance at Eclipse.org which should work better than the Travis/repository.jbos

[2018-09-13 11:02] #73 closed

[2018-09-13 12:01] D023535 commented on #73
Wow this was real quick !!! Thanks a lot !

[2018-09-28 15:06] mickaelistria commented on #64
Done.

[2018-09-28 15:06] #64 closed

[2018-09-28 15:08] mickaelistria opened #74 "Set up builds on https://jenkins.eclipse.org/wildwebdeveloper/"
We now have a Jenkins instance provided by the Eclipse Foundation.
We should move the build to https://jenkins.eclipse.org/wildwebdeveloper/ . Best would be to mimic and adapt the configuration of https://github.com/eclipse/aCute/blob/master/Jenkinsfile on https://ci.eclipse.org/acute/job/aCute/ .

[2018-09-28 15:10] jabby commented on #74
If you agree, I will take this next week. I have time for this.

[2018-09-28 15:13] mickaelistria commented on #74
Sure!

[2018-09-28 15:57] PhaserEditor2D commented on #64
Where is the repo now?

[2018-09-28 16:06] mickaelistria commented on #64
The p2 repo is currently still on JBoss Nexus. It'll move to Eclipse.org when build is migrated.

[2018-09-28 16:07] PhaserEditor2D commented on #64
Sorry, I mean, the source repo. Is it going to be on Eclipse Gerrit?

[2018-09-28 16:09] mickaelistria commented on #64
Nope, you're on it, it's an Eclipse GitHub repo.

[2018-09-28 16:30] mickaelistria commented on #74
https://bugs.eclipse.org/bugs/show_bug.cgi?id=539633 is a blocker for completion of this task. That said, it's not a blocker for edition of a Jenkinsfile.

[2018-10-02 13:06] mickaelistria opened #75 "Use https://github.com/theia-ide/typescript-lsp as Language Server"
I've seen demo of TypeScript development in Theia relying on https://github.com/theia-ide/typescript-lsp . It seems much better than the current one in Wild Web Developer. We should switch to it.
Moreover, as it's already included in Theia, it's very likely that it already got the IP approval at Eclipse.org and a CQ can be reused for it.

[2018-10-02 13:07] mickaelistria commented on #75
Here is how Theia consumes it: https://github.com/theia-ide/theia/blob/master/packages/typescript/package.json#L10

[2018-10-02 13:20] mickaelistria commented on #75
Created CQ https://dev.eclipse.org/ipzilla/show_bug.cgi?id=17755

[2018-10-02 14:34] mickaelistria commented on #75
CQ Approved! Now we can make the change.

[2018-10-02 15:10] mickaelistria commented on #74
GitHub credentials are now configured so we can use the Build Pipeline strategy.

[2018-10-03 14:34] mickaelistria commented on #75
Fixed with https://github.com/eclipse/wildwebdeveloper/commit/06debb004842f80a927b6f6614b495153dbeb50d

[2018-10-03 14:34] #75 closed

[2018-10-03 14:43] mickaelistria commented on #71
See PR https://github.com/eclipse/wildwebdeveloper/pull/76

[2018-10-03 14:53] mickaelistria commented on #71
Done.

[2018-10-03 14:53] #71 closed

[2018-10-03 14:58] mickaelistria commented on #49
We're now using typescript-language-server from Typefox/Theia. Is ESLint still useful with this language server?

[2018-10-03 15:18] angelozerr commented on #49
Typefox/Theia can support tslint by using the plugin https://github.com/angelozerr/tslint-language-service

So you can define lint rules with tslint. Some user could prefer ESLint which works only with JS if I remember.

[2018-10-03 17:28] mickaelistria commented on #74
Sorry, I don't know much about Jenikinsfile.
I suggest you create the multi-branch pipeline job and create a PR nd see
what Jenkins says when it tries.to build the branch with the Jenkinsfile in
your PR.

--
Mickael Istria
Eclipse IDE <https://www.eclipse.org/downloads/eclipse-packages/>
developer, for Red Hat Developers <https://developers.redhat.com/>

[2018-10-03 18:46] jabby commented on #74
Ok I will do that.

[2018-10-09 22:35] mickaelistria commented on #74
This is mostly done now.
I've struggled with finding some good docker image to configure the Kubernetes agent and then in having npm working well on a docker image (without user account being properly set, without being root).
Artifacts are signed.
Documentation and other files are updated.
What's missing now is the publication to download.eclipse.org, but I think it can be another topic.

[2018-10-09 22:35] #74 closed

[2018-10-12 09:38] mickaelistria commented on #5
I don't see it happening again. Probably some NPM or VSCode things have happened to improve this over the last year.

[2018-10-12 09:38] #5 closed

[2018-10-12 09:39] mickaelistria commented on #13
Can you please try again? We recently changes the language server for JavaScript and the new one may work better.

[2018-10-16 12:20] mickaelistria opened #83 "add Vue.js support?"
It seems like there is a language server for Vue.js. Should we add it to Wild Web Developer? Is it good enough? Is Vue.js popular and sustainable enough to be worth it?...

[2018-10-16 12:21] mickaelistria commented on #83
cc @jabby

[2018-10-16 18:47] jabby commented on #83
I will take this one.
The vue-language-server sources are are here https://github.com/vuejs/vetur/tree/master/server

[2018-10-19 15:23] stephan-herrmann opened #84 "Memory Leak: huge number of IConsolePartitioner"
I have been trying wildwebdeveloper on a small project for a little while, but Eclipse frequently becomes unusable due to lack of Java heap space.

After capturing a heap dump MAT informs me about the following leak suspect:

As I had previously seen errors mentioning IConsoleUpdater, I closed the console view, launched some processes outside Eclipse and did not let the single remaining Eclipse la

[2018-10-19 15:28] stephan-herrmann commented on #84
This is all that MAT has to say on who holds on to those objects:

![pathstogcroots](https://user-images.githubusercontent.com/24587985/47227901-34f01480-d3c4-11e8-9ab6-7c8a8f833f02.png)

[2018-10-19 15:56] stephan-herrmann commented on #84
I found a mildly related https://bugs.eclipse.org/519944 but that was fixed in Photon (and also backported in 4.7.x).

I'm seeing this bug in
- Version: Photon Release (4.8.0)
- Build id: 20180619-1200

with
-  Wild Web Developer - Web edition in Eclipse IDE (Experimental)	0.1.0.201809111841

[2018-10-19 16:00] stephan-herrmann commented on #84
Just for the entertainment factor: since installing Wild Web Developer, Eclipse keeps accumulating more and more buttons "Toggle Highlight". Currently I have twelve instances of that button, which all work in lock step, i.e., (de)selecting one also (de)selects all others.

While this looks like a leak of sorts, too, I wouldn't blame this for the memory leak ...

[2018-10-21 20:12] mickaelistria opened #85 "Debugger(s) over DAP"
We could replace JSDT debugger by other based on existing Debug Adapters.

[2018-10-22 08:19] mickaelistria commented on #84
Do you still have the .hprof memory dump file? If yes, could you please share it ?

[2018-10-30 11:13] rkrzewski opened #87 "NoSuchMethodError with WWD 0.1.0.201810092241"
Apparently something is wrong on the classpath.
[code]

I'm running Eclipse 4.9.0.I20180906-0745 on JDK 11. If there's something I could do to help diagnosing this, please let me know.

[2018-10-30 16:13] jonashungershausen opened #88 "UI Freeze & Error: Cannot find module 'typescript'"
Hi,

since the latest install (3 days before) I get these error messages in the log (via `journalctl -f`):
https://gist.github.com/jonashungershausen/e0baca010174924d47cb552b89e598b6
(Couldn't figure out how to properly format it here in the comment).

They go along with some 20 second complete UI freezes of the eclipse instance.

Using:
Spring Tool Suite 4

Version: 4.0.0.RELEASE
Build Id: 201809

[2018-10-30 16:22] jabby commented on #88
Thanks for the report. I copy your gist here in case the gist disapeared. If you want to share some code/logs you can use 3 back thicks before and after the code block.

[code]
Do you know which version of node is include in your path?

[2018-10-30 16:35] jabby commented on #87
Hello, I think we have a little problem on the packaging. Can you give all dependencies installed in your Eclipse IDE?

[2018-10-30 17:31] mickaelistria commented on #87
Looks like the lsp4j version range lsp4e's MANIFEST.MF is too lax and
should be restricted more.

--
Mickael Istria
Eclipse IDE <https://www.eclipse.org/downloads/eclipse-packages/>
developer, for Red Hat Developers <https://developers.redhat.com/>

[2018-11-05 15:12] stephan-herrmann commented on #11
[wildwebdev.dead.txt](https://github.com/eclipse/wildwebdeveloper/files/2548941/wildwebdev.dead.txt)
I'm observing a frozen Eclipse instance, which could be the same as this existing bug report.

I was in the middle of typing some typescript code.

Note, that LSContentAssistProcessor is active in thread "main", waiting for a completable future - I assume that this has been triggered via syncExec f

[2018-11-05 15:16] stephan-herrmann commented on #11
As an aside, the number of active HighlightReconcilers roughly corresponds to replication of "Toggle Highlighting" buttons, as already mentioned in #84 (I have 14 such buttons, vs. 11 threads).

[2018-11-05 15:22] mickaelistria commented on #11
This is also a possible improvement in ContantAssistant.computeContextInformation(...) that could/should be invoked asynchronously to allow long-running operations and not block the whole IDE when it fails to get the value.
Also LSP4E's ServerMessageHandler.logMessage(...) could using another thread if this can cause deadlocks.

[2018-11-05 15:49] stephan-herrmann commented on #11
I think the logMessage() thing could be the core problem here. Since content assist is invoked on "main" it must be able to complete without requiring additional resources. Are you going to forward this to LSP4E?
One more detail: I have all Language servers configured with "LogToFile=false" and "LogToConsole=false". I would be immensely happy if that configuration would take effect ...

[2018-11-05 15:54] mickaelistria commented on #11
Yes probably. And if you are fine in doing it, please do it yourself now.
I think I'll also forward it to JFace. There is no good reason to invoke content assist from the main thread and for completionProposals, it's out of the UI-Thread. It should be the same for contextInformation.

Those logging mentioned in preference are the LSP messages (all of them) mostly for debugging purpose. The `logMes

[2018-11-14 07:36] mickaelistria commented on #88
I get exact same error on Fedora 29 with

[code]

[2018-11-14 07:42] mickaelistria commented on #88
No `typescript` module seems included.
[code]

[2018-11-14 16:03] jonashungershausen commented on #88
Thanks for pointing me to the location where the files are. I managed to manually install typescript and that fixed the problem for me.

Looking at the code it seems like it's just a matter of adding the typescript module to the package.json?
If so, I'd like to take that and submit a PR if possible?

[2018-11-14 16:04] mickaelistria commented on #88
Sure!

[2018-11-14 20:00] jabby commented on #88
Normally we don't need to add typescript to the package.json

I checked the package-lock.json and typescript is listed as depencency. See https://github.com/eclipse/wildwebdeveloper/blob/b082e3a33312c8529a2c65312745aba025b27487/org.eclipse.wildwebdeveloper/language-servers/package-lock.json#L376-L380

I build locally the vuejs branch and there is typescript in the build plugin. I suspect that the

[2018-11-14 20:39] mickaelistria commented on #88
I don't think it's CI. A local build gives me same result and misses typescript module.
It can be a build issue though, like an erroneous pom or other file (or even erroneous package.json.lock)
What we can try is from a freassh rep, a local `mvn generate-resources` or `npm install` from language-servers folder and see whether typescript is in.

[2018-11-15 09:34] mickaelistria commented on #88
[code]

[2018-11-15 09:51] jabby commented on #88
Thanks Mickael

I tried different version of node + npm on vuejs branch. I did not try with master because it fails on my laptop.

with node `10.11.0` and npm `6.4.1` : typescript is present
with node `8.12.0` and npm `6.4.1` : typescript is present
with node `8.11.0` and npm `5.6.0` : typescript is present
with node `7.10.1` and npm `4.2.0` : typescript is present but package-lock.json is not gen

[2018-11-15 09:58] mickaelistria commented on #88
I believe this issue is super important and need to be fully understood. I'd rather avoid using the vuejs inclusion as a "by-the-way" fix for it.

A cause can be that typescript is defined as a "devDependency" in the VSCode language servers so it's not picked transitively during a `npm install` (vue.js LS probably adds it explicit as a runtime dependency). It's bascially a bug in VSCode, but given

[2018-11-15 10:13] mickaelistria commented on #88
@jonashungershausen I tried your suggestion and it work very well. Would you like to submit the PR, as you're actually the one who made the report and found the best solution?

[2018-11-15 10:18] jonashungershausen commented on #88
Yes, I'd like to. Will do it this evening if that's okay. Do you have any pointers to resources I need to set up the development environment?

Outlook for Android<https://aka.ms/ghei36> herunterladen

________________________________
From: Mickael Istria <notifications@github.com>
Sent: Thursday, November 15, 2018 11:13:18 AM
To: eclipse/wildwebdeveloper
Cc: Jonas Hungershausen; Mention
Subject: R

[2018-11-15 10:30] mickaelistria commented on #88
Sure.

Nothing in particular, it's Eclipse plugins as usual. There is a .target file in the repo that you can use. But if you are using your IDE as TP and already have wildwebdeveloper installed, you shouldn't need to use this file specifically nor to switch TP.
Actually, for this change and since your IDE is badly affected by this issue, you don't even need to use the Eclipse IDE, you can edit th

[2018-11-15 13:32] jabby commented on #88
I agree with your last comment. I checked why it happens now and not in previous version of wild web developer. I think the replacement of `javascript-typescript-langserver` by `typescript-language-server` reveal the problem.

Typescript is also declare as a dependency in `javascript-typescript-langserver` but it's not in `typescript-language-server`.
I will provide an update of the package.json t

[2018-11-15 13:34] mickaelistria commented on #88
Please leave this to @jonashungershausen

PR welcome ;)

[2018-11-15 13:53] jabby commented on #88
Ok. @jonashungershausen if you need some help. Don't hesitate to @ me.

[2018-11-16 16:53] #88 closed

[2018-11-19 12:09] jabby opened #90 "Fix target platform in master"
As you can see on the latest build for master branch, there is a problem about target platform.
https://jenkins.eclipse.org/wildwebdeveloper/job/Wildwebdeveloper/job/master/16/

I will provide a fix in few minutes.

@mickaelistria should I increment the version number of Wild Web Developer?

[2018-11-19 12:37] mickaelistria commented on #90
Thanks!

[2018-11-19 12:39] mickaelistria commented on #90
We do not increment version numbers for TP change. We may increment version numbers when we modify the version range for depedencies in MANIFEST.MF.

[2018-11-19 12:39] jabby commented on #90
OK thanks for the explanation.

[2018-11-19 13:09] jabby commented on #90
There is a problem on the ci.
I get the following error. Should I ask the
[code]

Should I create a ticket on [Community/CI-Jenkins](https://bugs.eclipse.org/bugs/buglist.cgi?component=CI-Jenkins&list_id=18028498&product=Community&resolution=---)?

[2018-11-19 13:12] mickaelistria commented on #90
Yes, please open a ticket.

[2018-11-19 18:11] rkrzewski commented on #87
[code]
Here's the full config dump https://gist.github.com/rkrzewski/483a1f84751830458a1203db513382d2

[2018-11-19 18:14] mickaelistria commented on #87
This was a bug in LSP4E that was fixed with http://git.eclipse.org/c/lsp4e/lsp4e.git/commit/?id=05cf51ba1f0614356001a59667717f2bb271bff0
Next build of Wild Web Developer (currently stuck by https://bugs.eclipse.org/bugs/show_bug.cgi?id=541306 ) should receive a newer version of LSP4E with this fix included.

[2018-11-21 14:36] norru commented on #11
https://github.com/eclipse/corrosion/issues/128

[2018-11-21 18:42] mickaelistria commented on #90
Build is back to green!

[2018-11-21 18:42] #90 closed

[2018-11-21 18:42] mickaelistria commented on #87
A new build was just produced which should have it fixed. Can you please try again? (Make sure the version of LSP4E is more recent by the way).

[2018-11-21 18:43] mickaelistria commented on #84
In latest build, another language server is used, which seems to log about nothing. Can you please try upgrading and tell whether it seems to improve the memory consumption?

[2018-11-21 20:20] mickaelistria commented on #87
I'm closing it since I'm pretty sure it should be ok now. But feel free to reopen if you still see it with a fresh update.

[2018-11-21 20:21] #87 closed

[2018-11-21 20:45] mickaelistria opened #92 "Color preview annotation not shown on text change"
Using a CSS file.
When changing the text, it seems like the color preview annotation is not refreshed (neither deleted when color doesn't match anything, nor added when it does). Colors are still shown when file opens, but are not refreshed.
cc @angelozerr

[2018-11-21 20:53] jabby commented on #90
Yes!

[2018-11-21 20:54] jabby commented on #2
I agree.

[2018-11-21 20:56] jabby commented on #83
Not yet. I would like to provide a basic configuration to vue-language server in order to provide some good completion. Actually, the default behaviour is not really good.
I think I will have some time to spend on it in the beginning of december.

[2018-11-23 10:47] mickaelistria commented on #92
Never mind. I took the snapshot of the EPP package for Rust, installed Wild Web Developer, and it worked.

[2018-11-23 10:47] #92 closed

[2018-11-23 11:04] mickaelistria commented on #84
This seems to be a bug in LSP4E. Can you please report the bug there?

[2018-11-23 13:06] mickaelistria commented on #84
I'm marking this as resolved because it's fixed upstream. You'll need to install a recent build of LSP4E (no ready yet, should be in a few minutes) to take advantage of the fix.
Don't hesitate to reopen if this seems to still happen with more recent lsp4e.

[2018-11-23 13:06] #84 closed

[2018-11-26 14:13] jabby opened #94 "Logo proposal for Wild Web Developer"
Hello all, I think it will be a good idea to have a nice logo representing Wild Web Developer.
It will be useful for "marketing" on the Eclipse Foundation website and on the marketplace.
It will also help user to identify the plugin in general.

Few weeks ago I asked on twitter if anybody want to contribute a logo.

@RenaudGoujatDesign answered positively and want to contribute on this project for

[2018-11-29 17:06] RenaudGoujat commented on #94
Hi everyone !
I am Ui and Ux designer, living in Nantes, France.
I am passionate with interface design, user experience and illustration.

I would be very happy to place my skills at your service.
I am very interested by the Open Source world.
I like the idea of letting the possibility for everyone to get involved, share knowledges, and to take the lead as part of Open Source projects, that aim to

[2018-11-30 21:59] mickaelistria commented on #94
That would be really welcome! Feel free to ask any question if you need for context to find out a good logo. Let me put some anyway:
* The target audience are developers (backend and frontend) who need to developer HTML/CSS/JavaScript/TypeScript in the Eclipse IDE.
* The main entry point for installation, and the main place where the logo will be seen in the Marketplace dialog inside the Eclipse I

[2018-12-03 13:54] jabby commented on #83
@mickaelistria is that a problem if we have a dependency to gson? I think I will parse a JSON file with default configuration and send the conf to vue-language-server

[2018-12-03 14:01] mickaelistria commented on #83
Not so much. Wild Web Developer already transitively requires GSon which is used by LSP4J. We'd just need a CQ to officialize that we consume it directly though.
Why do you need to parse a default configuration? Is the file pre-existing in Vue.js? If not, couldn't it be just hardcoded in the LS connection provider? Is there strong need for modifying this file at the moment?

[2018-12-03 14:02] angelozerr commented on #83
@jabby GSON is used by LSP4j and it is embed in Eclipse IDE.  So I think it will not a problem. After you can use Map like I have doen to intialize JSON Language Server https://github.com/eclipse/wildwebdeveloper/blob/master/org.eclipse.wildwebdeveloper/src/org/eclipse/wildwebdeveloper/json/JSonLanguageServer.java#L70 (uggly code)

I assume you will need some preferences page. I'm interested by th

[2018-12-03 14:05] mickaelistria commented on #83
There will be no preference page in LSP4E for options or preferences until those are defined in the LSP specification.

[2018-12-03 14:13] angelozerr commented on #83
I mean `tabSize` and `insertSpaces` which is part in specification https://microsoft.github.io/language-server-protocol/specification#textDocument_formatting

[2018-12-03 14:16] mickaelistria commented on #83
Ok, those can be in the preference page, and be specified from the
extension point also.
I guess we could have a "formatting" page which would list the various LS
and the default (could be IDE defaults if not set) values which could then
be edited by end-user. We need to make sure the PreferenceNode we use are
easy enough to bind listeners so specific integration plugin could
manipulate those prop

[2018-12-06 20:46] mickaelistria commented on #23
See also https://bugs.eclipse.org/bugs/show_bug.cgi?id=542488 where CDT folks also consider shipping a node.js runtime.

[2018-12-10 19:13] stephan-herrmann opened #95 "tsserver et al cannot be executed"
After installing wildwebdeveloper via Oomph none of the language server functionality worked.
All I got was a log message essentially saying: `[ERROR: spawn EACCES]`. No hint at what was tried to access.

After a lot of aimlessly poking around, I first found, that some "executables" didn't have executable permission (on linux), so I ran `chmod u+x` for them:
- `vscode-languageserver/bin/installSer

[2018-12-10 19:20] stephan-herrmann commented on #95
BTW, I only mentioned Oomph, because that was the only difference between working and not-working installation that I could think of. Take it as a wild guess - might be totally unrelated.

[2018-12-10 21:59] jabby commented on #95
Thanks for your report.
I'm not familiar with Oomph. How did you install a plugin through Oomph?

[2018-12-10 22:34] stephan-herrmann commented on #95
Also in that fresh install mentioned above I need to do (at least) these commands to get any typescript support in the IDE:
[code]

Then restart Eclipse.

Certainly not a procedure that I can expect of those colleagues whom I try to convince to migrate towards Eclipse for their JS/TS development ;p

[2018-12-10 22:51] mickaelistria commented on #95
Maybe this works for us because`tsserver` and `tsc` are available in other locations as well and uses them? We definitely need automated tests for Wild Web Developers to spot those issues.

[2018-12-10 22:52] mickaelistria commented on #95
By the way, you know OSS,it's not «your» build. It's everyone's.

[2018-12-10 23:18] stephan-herrmann commented on #95
If you look into `LspServer.findTserverPath()` you'll see a bunch of options where `tserver` can be found. This could explain why it works on some machines not on others. It still doesn't explain, why it stopped working on a machine where previously it worked -- but then I'm not 100% sure it hadn't accidentally found a tserver in, say, `<workspaceroot>/node_modules`.

More constructively, if I saw

[2018-12-11 18:54] jabby commented on #95
I did not realize that npm install create symlinks. The symlinks are for vscode language server I guess.
We should ask some guys at microsoft to add vscode language servers to npm instead of using relative path in package.json.
Actually I am quite busy at work and about personnal stuffs. I hope I can do some check next friday but I'm not sure.

[2018-12-11 20:50] mickaelistria commented on #95
Are all language servers affected or only the JS/TS one?
I think the change that cause that is https://github.com/eclipse/wildwebdeveloper/commit/06debb004842f80a927b6f6614b495153dbeb50d

[2018-12-11 22:14] stephan-herrmann commented on #95
This does the trick for me (tested only for typescript, none of the other language servers):

[issue-95.txt](https://github.com/eclipse/wildwebdeveloper/files/2669664/issue-95.txt)

[2018-12-12 09:07] mickaelistria opened #96 "Test language server are bound and running"
We should have at least minimal automated test opening interesting files and verifying that the expected language server returns a proper answer for basic request.

[2018-12-13 21:59] mickaelistria commented on #96
We now have those tests as part of https://github.com/eclipse/wildwebdeveloper/commit/b7990a45eba3b54320ccd9332a6ed6802f948034

[2018-12-13 21:59] #96 closed

[2018-12-13 22:07] mickaelistria commented on #95
With automation and addition of test performed in #96 / #97, this error in now surfacing elegantly as test failures on CI: https://jenkins.eclipse.org/wildwebdeveloper/job/Wildwebdeveloper/job/master/29/
@stephan-herrmann Would you be able to submit your patch as a Pull Request?

[2018-12-15 14:54] stephan-herrmann commented on #95
Three steps towards a pull request:

1. I need to learn how to create a pull request (not sure why people deem that easier than working with patches, or gerrit ...). Is creating a public fork really necessary? Hmmm..
2.  I want to fix using language servers also on windows by adding missing .cmd files
3.  To be sure I'm not breaking anything, I'd like to run the build on windows.

Currently, (3) f

[2018-12-16 20:46] mickaelistria commented on #24
I think we can close this one.
With #22 , typescript is now included in the dependencies and it seems like it's not a requirement for usage any more.

[2018-12-16 20:46] #24 closed

[2018-12-16 20:59] mickaelistria commented on #95
This can actually be improved in the Language Server directly: https://github.com/theia-ide/typescript-language-server/issues/93

[2018-12-16 21:56] stephan-herrmann commented on #95
This is very good news! Cool.

[2018-12-17 12:36] mickaelistria commented on #95
This should now be fixed and some automated tests are checking language servers startup well and send diagnostics, so there is much less risk for such issues to happen now.

[2018-12-17 12:36] #95 closed

[2018-12-17 14:20] mickaelistria commented on #37
Can't formatter be enabled with initializationOptions?

[2018-12-17 15:59] PhaserEditor2D opened #100 "Include Wild Web Developer in a standalone IDE"
Hi,

I am close to publish a product that includes Wild Web Developer. But I want to provide a self-contained product, something that user can unzip and run. I see WWD requires node and VSCode, as external software dependecies (no packed as plugins).

1- I would like to pack node and VSCode as plugins, so my concern is how much of VSCode we need to pack?

2- Is it possible to pack a platform-indep

[2018-12-17 16:00] PhaserEditor2D commented on #23
And VSCode is not required too?

[2018-12-17 16:05] mickaelistria commented on #100
That's currently true for node ( #23 ) but not for VSCode, the necessary bits of VSCode are packaged inside the bundles.

None.

Yes, and it should be already done by Wild Web Developer

You don't need a complete VSCode installation.

Let's hope so! And any help would be welcome on that matter.

[2018-12-17 16:05] mickaelistria commented on #23
Nope, VSCode is not required, its interesting parts are embedded in the jars at build time.

[2018-12-17 16:11] mickaelistria commented on #55
Note that #23 would be more interesting to fix.

[2018-12-17 16:36] angelozerr commented on #55
It was one reason whey I do that in typescript.java. I'm sure that the embed nodejs works with the embed typescript version.

[2018-12-18 03:56] PhaserEditor2D commented on #100
Yes, I installed a VM with empty windows and VSCode is not required. I was confused because of the method: https://github.com/eclipse/wildwebdeveloper/blob/361dad906e5a47945ffa8d4e02f4d6519c256313/org.eclipse.wildwebdeveloper/src/org/eclipse/wildwebdeveloper/InitializeLaunchConfigurations.java#L35

[2018-12-18 03:56] #100 closed

[2018-12-18 03:57] PhaserEditor2D commented on #100
I missed to say thanks :)

[2018-12-18 03:59] PhaserEditor2D commented on #23
I think a quick solution about node is to do similar to JRE. The user (or product developers) can place node in a node folder next to the eclipse executable.

[2018-12-18 04:18] PhaserEditor2D commented on #23
Another simple solution is first to try with a system property, something like

[code]

[2018-12-18 04:19] PhaserEditor2D commented on #23
Users can change it in the eclipse.ini and plugin developers can change it at runtime.

[2018-12-18 06:40] mickaelistria commented on #23
A preference should be preferred for that.

In any case, independently of the packaging we target in fine, the method `InitializeLaunchConfigurations.getNodeJSLocation()` could be augmented to support more heuristic like
* reading a preference,
* reading a system property
* look inside a specific folder relative to the launcher
* ....

There is no.restriction on what conventionq we could support,

[2018-12-18 06:43] mickaelistria commented on #100
That understandable. If this.method is not used, feel free to submit a PR that removes it.

[2018-12-18 14:02] mickaelistria commented on #85
There is some good progress in embedding the debugger, but there is also this issue: https://github.com/Microsoft/vscode-node-debug/issues/187
@jabby as our node expert here, do you think you could participate in fixing https://github.com/Microsoft/vscode-node-debug/issues/187 ?

[2018-12-19 18:08] jabby commented on #85
Mickael, can you explain how you launch a js script in debug mode? I'm not sure I try correctly.

[2018-12-19 18:14] mickaelistria commented on #85
At the moment, you need to create a Debug Configuration like the screenshot I've put in a previous comment. It will delegates the the VSCode Node Debug Adapter (nodeDebug.js) that takes care of starting the target "program" (blah.js) in debug mode, and LSP4E.debug connects to the adapter for interaction.
Current patch *includes* directly the adapter (so we can reference the internal one instead in

[2018-12-19 18:33] mickaelistria commented on #85
Get ready for it, it's a JavaScript piece of art, a mindblowing snippet, the proof that P==NP and a program that can reduce by 90% energy consumption in this world while curing the most important diseases...
...
...
[code]
!

[2018-12-20 15:05] mickaelistria commented on #85
I've merged my change. In master, there is now a run/debug configuration + right-click > Run/Debug As on .js files that can be used to run or debug a .js with node.
It uses VSCode Debug Adapter and LSP4E DAP support. The only code necessary is about defining the launch type, passing the right initialization options and related UI.
Wild Web Developer doesn't need JSDT any more for debug.

This is a

[2018-12-20 15:05] #85 closed

[2018-12-20 15:53] jabby commented on #85
@mickaelistria I tried your work from the marketplace.
I'm not able to hit a breakpoint when I launch my script with `Debug as node program`
Did you succeed?

[2018-12-20 15:57] mickaelistria commented on #85
Yes, it works for me. Does `Run As` work for you?

[2018-12-20 15:59] jabby commented on #85
`Run as` works as expected for me. I get my awesome `Hello World!` message in the console.
When I use `Debug As` I just saw the launch of the node debug. But there is nothing in the console.

[2018-12-20 16:02] jabby commented on #85
Run as:

[code]

Debug as: 2 consoles.

First:

[code]

Second:
[code]

[2018-12-20 16:03] jabby commented on #85
And my awesome program is:
[code]
I put 2 breakpoints. One on the return statement and another one on the console.log statement.

[2018-12-20 16:53] mickaelistria commented on #85
The message from the console show it could be an issue with you node version being newer and less permissive than mine (v7.10.1), which shows the following
[code]
The deprecation sounds more like a warning for me, while it sounds more like an error in your case.

We need to check whether newer version of the node-debug fix it, and consider adopting them.

[2018-12-20 16:53] mickaelistria commented on #85
@jabby Can you try similar setup as https://github.com/eclipse/wildwebdeveloper/issues/85#issuecomment-447884577 (using the generic Debug Adapter Launch config and referencing a local modern version of VSCode)?

[2018-12-20 17:36] jabby commented on #85
I tried with node 7.10.1. I can run in debug mode.
Here is a screenshot of my configuration.

![capture d ecran de 2018-12-20 18-34-03](https://user-images.githubusercontent.com/1883932/50300861-f808d280-0485-11e9-86a0-8933c9bbed11.png)

And here is my version of Eclipse IDE

Eclipse IDE for Java Developers
Version: 2018-12 (4.10.0)
Build id: 20181214-0600
OS: Linux, v.4.19.2-200.fc28.x86_64, x86_

[2018-12-20 17:37] jabby commented on #85
I don't know why it's ok on your side but not on mine. I think our environments are pretty similar.

[2018-12-20 18:07] mickaelistria commented on #85
See the console, while you start the debug adapter with node 7.10.1 (in the launch config), the app is running with node 8.12.0 and the same warning is sent. To override the node version used to start the app, you need to put something like `"runtimeExecutable": "/path/to/node"` in the json part (according to https://github.com/Microsoft/vscode-node-debug/blob/master/src/node/nodeDebug.ts#L296 )

[2018-12-20 18:38] jabby commented on #85
I miss that point. OK I will try your new PR if it works for me.
By the way do we need to support  Node.js versions < 8.0. As I understand vscode-node-debug2 is the debugger for Node.js versions >= 8.0.

[2018-12-23 15:27] mickaelistria opened #103 "Debug exisiting node process"
Provide a Debug Configuration to attach debugger to an existing.node app (IP+port)

[2018-12-26 09:51] PyvesB opened #104 "Selection highlighting not working"
Hello,

I'm having trouble with the highlight feature. When I select a variable, I would expect all occurrences to be highlighted, however, this is not the case. Note that I have the _Toggle Highlight_ option enabled. See screenshot below:
![screenshot 128](https://user-images.githubusercontent.com/10694593/50441691-31b16180-08fc-11e9-84e4-54981ab0fa9d.png)

Thanks in advance for your help!

Cheer

[2018-12-29 10:56] mickaelistria commented on #104
The connection and request with the Language Server seem correct, but the LS returns a "wrong" result. It's most likely an issue to report to https://github.com/theia-ide/typescript-language-server . Would you like to report it?

[2018-12-29 11:39] PyvesB commented on #104
Thank you for your response. I've submitted an issue [here](https://github.com/theia-ide/typescript-language-server/issues/94). I'm not too familiar with that project or how language servers work in general, but hopefully it makes sense.

[2019-01-02 10:49] edertone opened #110 "[TypeScript] Implement tslint"
Hi,

Finally we have a decent web development support in eclipse.

For typescript development it is really good, but i was wondering if it is possible to add tslint support to the editor?

[2019-01-02 11:02] mickaelistria commented on #110
This is an upstream improvement in the language server we're using for typescript. I've opened https://github.com/theia-ide/typescript-language-server/issues/95 to track this. Once it's available in the Language Server, then just upgrading it should be enough without particular development.

[2019-01-02 14:01] edertone commented on #110
Hi, this looks like great news!

[2019-01-02 15:36] mickaelistria commented on #110
@edertone Can you please provide a minimal file or set of file that triggers some tslint messages? Those would help in implementing/testing the feature. Ideally, this could be provided as a pull-request for a unit test.

[2019-01-02 15:49] edertone commented on #110
I have uploaded two files: a class.ts file containing some basic ts code and a tslint.json containing the tslint rules to validate it.

with this setup, following errors should be generated by tslint:

[tslint] trailing whitespace (no-trailing-whitespace)
[tslint] Documentation must exist for private properties. (completed-docs)

[tslint.zip](https://github.com/eclipse/wildwebdeveloper/files/27211

[2019-01-02 16:46] mickaelistria commented on #103
Done with https://github.com/eclipse/wildwebdeveloper/commit/e0185ff5af2be393499b0af172416ac56cd22634

[2019-01-02 16:46] #103 closed

[2019-01-04 18:57] edertone commented on #94
Here are two ideas
![test2](https://user-images.githubusercontent.com/16387357/50705356-e107da00-105a-11e9-8fde-242a32cacbd6.png)
![test3](https://user-images.githubusercontent.com/16387357/50705358-e107da00-105a-11e9-867a-5124be8dce1b.png)

[2019-01-05 00:51] mickaelistria commented on #94
Thanks. I like those. However, I feel like they're not connected enough to
the Eclipse IDE logo.
Would it be possible to reuse some graphical «signatures» of Eclipse IDE
logo like its color palette?

--
Mickael Istria
Eclipse IDE <https://www.eclipse.org/downloads/eclipse-packages/>
developer, for Red Hat Developers <https://developers.redhat.com/>

[2019-01-05 13:33] edertone commented on #94
![test10](https://user-images.githubusercontent.com/16387357/50724981-d69b1e00-10f6-11e9-9973-d4be89415925.png)

[2019-01-05 13:39] mickaelistria commented on #94
@jabby @angelozerr @dschaefer , folks, as declared stakeholders of Wild Web Developer, please comment whether it's good to you or not. If you are fine with it as a logo, give it a +1, otherwise, please share your concerns and we'll see if we can make it better for everyone.

[2019-01-05 13:42] mickaelistria commented on #94
@PhaserEditor2D since you're closely following the project, you're also invited to vote and comment here (see previous comment).

[2019-01-05 14:46] PhaserEditor2D commented on #94
The logo above from @edertone looks too horizontal to me, maybe something more circular would be better, it is closer to the Eclipse logo and the Wild Web (World) concept.

By the way, this link can help: https://www.eclipse.org/artwork/

[2019-01-05 15:50] PhaserEditor2D commented on #94
Some ideas here:

![wildwebdeveloprlogospng](https://user-images.githubusercontent.com/12187299/50726192-86609380-10d7-11e9-8fe9-c7be56b2ff15.png)

Svg: [logo-wwd.zip](https://github.com/eclipse/wildwebdeveloper/files/2729625/logo-wwd.zip)

[2019-01-05 15:59] PhaserEditor2D commented on #94
I like this one too:

![image](https://user-images.githubusercontent.com/12187299/50726297-076c5a80-10d9-11e9-9322-dd40823e15cb.png)

[2019-01-05 16:15] PhaserEditor2D commented on #94
And more:
![image](https://user-images.githubusercontent.com/12187299/50726459-2f5cbd80-10db-11e9-95d0-0ab6e05c26f4.png)

[2019-01-05 22:51] mickaelistria commented on #94
@PhaserEditor2D IMO, your logo proposals are too generic and fail at embodying this particular project. The same logo could probably be used for any plugin in Eclipse IDE, we need something more specific..

[2019-01-05 23:01] mickaelistria commented on #110
@jabby Would you be interested and available to look at this?

[2019-01-06 00:31] PhaserEditor2D commented on #94
@mickaelistria I see it fails on represent WWD.

Anyway, these are the WWD elements I see in the logos:

![image](https://user-images.githubusercontent.com/12187299/50730655-6608f700-1120-11e9-803e-f758ca1a829a.png)

[2019-01-06 17:10] jabby commented on #110
I am interested but I'm not sure I will be available soon for this. In fact, I need to prepare a conference in Montpellier for mid january. If it's ok to wait the end of the month I will take care of this.

[2019-01-08 21:58] jonahgraham opened #111 "Add Debug Adapter tab to launch configuration"
This is to take advantage of the new API in lsp4e.debug added in [Bug 543279](https://bugs.eclipse.org/bugs/show_bug.cgi?id=543279). In provides another tab that looks like below to enable (advanced?) users to access debug adapter settings not exposed with SWT controls:

![image](https://user-images.githubusercontent.com/679236/50861414-7fb07580-1390-11e9-93f6-c44f189bfc32.png)

[2019-01-08 22:02] jonahgraham opened #112 "Wild web developer has useful code that could be used in other places"
I would like to move a little bit of code higher up the stack from wildwebdeveloper to lsp4e.debug. Specifically InitializeLaunchConfigurations to make it easier for CDT's debug adapter and wildwebdeveloper's adapter to be more consistent on where to get node from.

I see this as a pre-cursor to having Node shipped in some way with CDT/wildwebdev.

The corresponding bug in lsp4e is [Bug 543280](ht

[2019-01-08 22:03] mickaelistria commented on #111
@akurtakov @jabby @PhaserEditor2D What do you think about it?

[2019-01-08 22:04] mickaelistria commented on #112
I think this somehow relates to #23 and detection of node.js should be in a separate bundle and not in main LSP4E bundle.
What do you think about Wild Web Developer hosting those node utils and CDT reusing them?

[2019-01-08 22:09] jonahgraham commented on #112
OK, but only as a separate bundle.

[2019-01-08 22:10] mickaelistria commented on #112
Of course!

[2019-01-09 12:47] akurtakov commented on #111
This sounds good to me. Providing easy way to play with the debug adapter is a nice to have.

[2019-01-09 20:05] jabby commented on #111
Looks good to me. 👍

[2019-01-09 23:44] RenaudGoujat commented on #94
Hi Guys,
I am Renaud, I joined your team by the month of december. I am a graphic designer, and I am still interested in creating your logo. I have been a bit busy these days, but now I am available to work for you.

I think that you are doing it backwards, with your brand identity. It is risky to propose a logo design, and then start think about a concept with the team.

I think that the best way

[2019-01-10 10:49] mickaelistria commented on #94
I've converted the form to a Google Doc: https://docs.google.com/document/d/1Mlc7IMPBAGImyj4vX1drSeFaiswW6yL1TWX7jV3qqNM/edit# . Committers should have received an invite to comment there and suggest edits.
Let's give everyone a long week before I share it here.

[2019-01-10 13:16] RenaudGoujat commented on #94
Hi everyone,
Thank you Mickael for giving me access to yours answers.

Jabby told  me that your project is to create an integrated development environment for developers, made by real developers, who know perfectly the needs and constraints of a professional in he's day to day work. I think that you can find a lot of valuable informations and datas from your own developer experience.

You can also

[2019-01-10 13:33] mickaelistria commented on #94
I really don't want the logo to target a subpart of the target audience in particular, and while there are some stats that would tend favor a sub-population, I think those are really anomaly of the domain in term of diversity and don't want the project strategy to build on them as it's just a way to consolidate or grow this anomaly.

[2019-01-11 14:00] PhaserEditor2D commented on #94
By the way, is there a twitter account for the project? I would love to @ it in our posts.

[2019-01-11 14:44] mickaelistria commented on #94
No, there is not, and unlesswe have a strategy and someone has dedicated time to take care of it,I'm reluctant to create one.
It would be one more channel to monitor while we achieve more productivity by having GitHub as almost single channel.
Also,the project is «just» an Eclipse plugin, it doesn't really qualify as a product.
More effort should be placed in actual payload and ensuring Wild Web D

[2019-01-12 09:45] edertone commented on #94
more ideas

![test12](https://user-images.githubusercontent.com/16387357/51071796-275ec980-1657-11e9-8489-bddb615ae755.png)
![test11](https://user-images.githubusercontent.com/16387357/51071797-275ec980-1657-11e9-85b3-cc81e7b59945.png)

[2019-01-16 18:01] PyvesB opened #115 "Duplicate toggle highlight buttons"
Hello,

I noticed that the toggle highlight button seemed to get duplicated, I've observed up to three of them being displayed next to each other in the toolbar:

![duplicate_highlight png](https://user-images.githubusercontent.com/10694593/51268343-cc5f0680-19b7-11e9-8069-3eeee0676880.jpg)

This only seems to happen on my Eclipse installation that runs Wild Web Developer and a quick search on Ecl

[2019-01-16 18:05] mickaelistria commented on #115
Tracked at https://bugs.eclipse.org/bugs/show_bug.cgi?id=534325

[2019-01-16 18:09] PyvesB commented on #115
Good spot! I was looking using the keyword "duplicate" and therefore wasn't getting anything back... Thanks.

[2019-01-18 15:55] wimjongman opened #117 "Cannot install in 2019-03 from marketplace"
Dragging into the 2019-03 nightly Eclipse IDE (base IDE + marketplace) does not prompt for installation but prompts the marketplace search box instead.

[2019-01-18 15:57] wimjongman opened #118 "Wild Web Developer is not findable through Eclipse website"
I was trying to find a repository or code base for the wild web developer on the eclipse.org site. There is nothing that points me to this site nor is there a landing page for wild web developer on eclipse org.

[2019-01-18 16:04] mickaelistria commented on #118
Information can be found from https://projects.eclipse.org/projects/tools.wildwebdeveloper which is available if you browse all projects.
We don't plan to create a landing page as it seems much more profitable to work on code.

[2019-01-18 16:04] #118 closed

[2019-01-18 16:07] mickaelistria commented on #117
Is it any different for other marketplace solutions? I think the 2019-03 compatibility is still missing on Marketplace.

[2019-01-18 16:08] mickaelistria commented on #117
https://github.com/eclipse/wildwebdeveloper#installation describes alternative installation steps.

[2019-01-18 16:31] wimjongman commented on #117
Thanks I did find that one.

[2019-01-18 16:31] #117 closed

[2019-01-18 16:34] mickaelistria commented on #118
There is no marketing department ;)
I think some activity on social media and Reddit linking to the README + making the README nicer would be a more profitable investment if you want to grow the popularity of the project. But at the moment, there is still enough stuff in the backlog to focus effort on development.

[2019-01-18 17:09] wimjongman commented on #118
So no landing page then. I'm not that active on social media so you have to find someone else to do this.

[2019-01-20 13:35] wimjongman commented on #94
I love it.  I love its mean look. I also love your text. However, horse heads don't make webs about honoring the real makers of the web:

# SPIDERS!!!

16
![wildewebspider16](https://user-images.githubusercontent.com/180969/51439790-b1460c80-1cbf-11e9-8952-5c1c14e576c6.png)

16@2
![wildewebspider32](https://user-images.githubusercontent.com/180969/51439796-c6bb3680-1cbf-11e9-972e-a0cf42440bc7.png)

[2019-01-20 13:54] wimjongman commented on #94
## Wilde West

![cowboy](https://user-images.githubusercontent.com/180969/51440063-eef86480-1cc2-11e9-98ed-5f3f4721edf6.png)

![cowboy2](https://user-images.githubusercontent.com/180969/51440066-f3bd1880-1cc2-11e9-888e-c39622c9dc40.png)

## SVG
[wildewebdev.zip](https://github.com/eclipse/wildwebdeveloper/files/2776663/wildewebdev.zip)

[2019-01-20 17:04] wimjongman opened #119 "Unable to start language server"
All languages fail to start the language server with the stacktrace below. Also an occiasional NPE is thrown.

[1]
eclipse.buildId=4.11.0.I20190115-1800
java.version=1.8.0_151
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=en_GB
Command-line arguments:  -os win32 -ws win32 -arch x86_64 -data file:/C:/Users/jongw/workspaces/openapi.web/

This is a continuat

[2019-01-20 17:05] wimjongman commented on #119
After installing node and setting it to the path the errors went away.

[2019-01-20 17:05] #119 closed

[2019-01-20 17:07] mickaelistria commented on #119
Related: #23 and #55.

[2019-01-21 18:14] edertone commented on #94
![test17](https://user-images.githubusercontent.com/16387357/51492036-ad45e780-1db0-11e9-8743-c7c909c38145.png)

[2019-01-23 13:47] mickaelistria commented on #35
Implemented bt @yanxi0830 . Thanks Xi!
Let's open new tickets for further issues.

[2019-01-23 13:47] #35 closed

[2019-01-24 16:34] mickaelistria opened #120 "[XML] Support for DTD"
It seems like XML-LS has support for `.dtd` files.
The `.dtd` should be declared as supported type and linked with the LS.

[2019-01-24 16:35] mickaelistria commented on #120
cc @angelozerr Am I right?
@yanxi0830 Something you could look at at some point.

[2019-01-24 16:38] mickaelistria opened #121 "[XML] Investigate LS in Thread vs LS in Process"
XML-LS is currently started as a process. As it's a Java application, we could consider using a Thread instead. There could be some benefits but some pitfalls, so we first need to investigate whether it's worth the effort.

[2019-01-24 16:38] mickaelistria commented on #121
cc @yanxi0830 For when you have some free time ;)

[2019-01-24 16:41] mickaelistria opened #122 "[XML] Investigate not using fatjar and using OSGi bundles as depedencies"
Currently, XML-LS is included as a fatjar containing all the dependencies. Most of the dependencies seem to be available in the Wild Web Developer target platform. We should consider using the "small" jar without the dependencies and get the dependencies provided through OSGi.
That may require having a specific bundle for XML-LS which would declare its requirements, and that probably relates with

[2019-01-24 16:45] mickaelistria commented on #122
Related to https://github.com/angelozerr/lsp4xml/issues/288

[2019-01-25 17:05] mickaelistria commented on #94
Does anyone want to submit more logos, or can we start a vote?

[2019-01-25 17:23] mickaelistria commented on #120
Done with #123 . Thanks @yanxi0830 !

[2019-01-25 17:23] #120 closed

[2019-01-25 18:00] RenaudGoujat commented on #94
Hi everyone. I am still interested to work with you. But I since I have sent a questionnaire, in order to receive informations from all the members of the project to create a reliable logo, only Mickael sent us back his answers. I still think that multiply random logo proposals without reaching everyone's agreement on the right direction to choose (the right keywords, the right visual concept) won

[2019-01-25 19:52] edertone commented on #94
Just another variation of a previous logo

![test21](https://user-images.githubusercontent.com/16387357/51769297-067c8680-20e3-11e9-875f-b34f93717d5c.png)

[2019-01-27 09:38] mickaelistria commented on #94
Hi Renaud,
I think you can assume that no additional answer is a form either of
agreement or of lack in interest, and after this time just proceed with the
current answers as they're all you'll get.
To be clear, this logo is mostly a piece of detail as the real product is
and will be the Eclipse IDE that already has logo and branding. That's one
reason why people may not be so involved in providin

[2019-01-28 11:57] RenaudGoujat commented on #94
Hi Everyone,
Hi Mikael,

Ok I will use you and Gautier advices and informations as basis for my logo proposal.
I won't be available to work on the logo this week, would it be ok if I send you a proposal for the 11th of january ?

Let me know if this deadline is good for you.

Have a nice day,
Renaud

[2019-01-28 16:33] jabby commented on #94
Hi Renaud,

There is no problem if you can't work this week on your proposal. I'm ok with the 11th of february.

Thanks for your work.

[2019-01-29 11:19] akurtakov opened #124 "XML LS is started multiple times"
I have opened 3 xml files from different projects and this ended up starting xml ls 3 times. Can it be made so same xml ls is reused?
3642 ?        Sl     0:03 java -classpath /home/akurtakov/opt/411/eclipse/plugins/org.eclipse.wildwebdeveloper_0.1.0.201901231330/language-servers/server/org.eclipse.lsp4xml-all.jar org.eclipse.lsp4xml.XMLServerLauncher
 3721 ?        Sl     0:03 java -classpath /ho

[2019-01-29 11:20] akurtakov commented on #124
@yanxi0830 , please investigate. @mickaelistria if you have pointers for Xi please put them here

[2019-01-29 11:22] mickaelistria commented on #124
Whether a language server can be reused or not for a document/file is in LSP4E's `LanguageServerWrapper.canOperate(...)` method. It could be that either LSP4E's condition here isn't capturing well the multi-file capability of XML-LS, or that XML-LS doesn't declare well this capacity.

[2019-01-29 19:09] yanxi0830 commented on #124
Thanks @mickaelistria , I think the issue here is that XML-LS doesn't support multiple project folders, so `canOperate` will return false whenever it checks `supportWorkspaceFolderCapability`. Adding `WorkspaceServerCapabilities` to lsp4xml seems to solve the issue.

[2019-01-29 19:13] mickaelistria commented on #124
Ok, thanks for the investigation. Is there any other capability sent by lsp4xml that you think can be used in canOperate in place of supportsWorkspaceFolderCapability?

[2019-01-29 19:25] yanxi0830 commented on #124
I think here are the capabilities sent by XML-LS, but I'm not sure if they can be used in place of supportsWorkspaceFolderCapability?
https://github.com/yanxi0830/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/settings/capabilities/ServerCapabilitiesInitializer.java

Adding something like this solves the issue:
https://github.com/yanxi0830/lsp4xml/commit/fd2d5311293f1306

[2019-01-30 16:34] PhaserEditor2D commented on #94
I agree with the Mickael document. I just added two lines.

[2019-01-31 14:06] angelozerr commented on #121
Guys, I have started to play with that. Please see my work at https://github.com/angelozerr/lsp4e-xml/tree/master/org.eclipse.lsp4e.xml/src/org/eclipse/lsp4e/xml

My idea was to provide

 * in LSP4e the https://github.com/angelozerr/lsp4e-xml/blob/master/org.eclipse.lsp4e.xml/src/org/eclipse/lsp4e/xml/LocalStreamConnectionProvider.java

 * and here the impl of this class with XML Language Server h

[2019-01-31 14:11] angelozerr commented on #121
A very cool benefit that I see, is to develop an extension for lsp4xml which is based on JDT (to manage maven, completion for @class attribute etc). This extension could use ICompilationUnit and co loaded by Eclipse (no need to have JDT-LS for instance and load twice ICompilationUnit for the same class)

[2019-01-31 14:11] mickaelistria commented on #121
Since we include the jars in the bundle, they can be part of the classpath (Bundle-Classpath in MANIFEST.MF) and the classes can be accessed directly without need for reflection.

[2019-01-31 14:12] angelozerr commented on #121
Yes sure @mickaelistria ! It was just an (uggly) POC :)

[2019-02-01 10:58] mickaelistria commented on #124
LSP4XML developers currently question whether defining workspaceFolders compatibility is the best thing here. The thing is that we know no better way at the moment, and https://github.com/Microsoft/language-server-protocol/issues/674 should be a long term solution.

[2019-02-01 19:08] PyvesB opened #127 "Installation error"
Hello,

When trying to update or reinstall Wild Web Developer from scratch, I am getting the following error:
[code]
Is something wrong with the p2 repository setup?

Thanks in advance for your help.

Cheers,

Pyves

[2019-02-01 19:10] mickaelistria commented on #127
It can be an issue with the remote or local cache. Please try again a bit later. Make sure you restart the IDE to wipe out the local cache of p2 metadata.

[2019-02-01 19:23] yanxi0830 commented on #121
Hi @mickaelistria @angelozerr ,
I've started to implement this based on the `LocalStreamConnectionProvider` approach using the LanguageServer class directly:
https://github.com/yanxi0830/wildwebdeveloper/commit/383211ce45f367b2e2e2ca16f3e79065dc5498ba

An issue that I've found is that whenever an XML file is closed, the following exception gets emitted:
[code]
In a child Eclipse, the LS seems to b

[2019-02-03 10:02] PyvesB commented on #127
The issue is still persisting. I have restarted the IDE as per your advice, but it has not solved the problem.

[2019-02-03 13:13] mickaelistria commented on #127
I just updated to latest build from http://download.eclipse.org/wildwebdeveloper/snapshots and didn't see any issue.

[2019-02-03 15:02] mickaelistria commented on #121
I see you're passing the same streams and the same underlying language server to different instance of LanguageServerWrappers. So you are basically binding 1 language server to N clients, which isn't something language servers support out of the box (this would require transforming and dispatching the messages properly). As a 1st iteration, try avoiding the static XMLLanguageServer, and keep 1 ins

[2019-02-03 15:45] PyvesB commented on #127
I finally managed to reinstall it by deleting the entire p2 repository cache folder from my Eclipse installation. Not sure what happened here, but at least problem solved.

[2019-02-03 15:45] #127 closed

[2019-02-08 19:00] Kavboy opened #129 "Javascript Code completion doesnt't work"
Hello,
i'm having issues to get the JavaScript code completion to work. I looked for similar issues but it didn't seem like they matched my problem.

System:               Windows 10 64bit
Eclipse Version:   Eclipse IDE for Enterprise Java Developers 2018-12 64bit
Node version:     10.15.1 64bit

The log produces this output:
LSP4E to org.eclipse.wildwebdeveloper.jsts:Content-Length: 1182

LSP4E t

[2019-02-08 19:41] mickaelistria commented on #129
Are you using the "Generic Editor" to open your .js file?

[2019-02-08 19:44] Kavboy commented on #129
Ok I just noticed, that the completion and proposals work in the Generic Text Editor but not in the JavaScript Editor like I would expect it. Is this like it should work?

[2019-02-08 19:46] mickaelistria commented on #129
Yes, the JavaScript editor is not related to Wild Web Developer. It's actually usually better to uninstall Webtools (WTP) HTML, CSS and JS editors when using Wild Web Developer.

[2019-02-08 19:50] Kavboy commented on #129
Ok and how can I use syntax highlighting then?

[2019-02-08 20:56] Kavboy commented on #129
Ok thank you

[2019-02-08 20:56] #129 closed

[2019-02-11 21:15] RenaudGoujat commented on #94
Hi everyone, I need some time to fine tune some details, I will send my proposals tomorrow.

[2019-02-13 00:03] RenaudGoujat commented on #94
Hi Everyone,
Please find attached my three proposals. I have tried to keep in mind these main ideas : "Global", "Efficiency", "Code faster, Code better", "creativity", "modern", "empower".

[2019-02-13 00:03] RenaudGoujat commented on #94
![plan de travail 1](https://user-images.githubusercontent.com/45291042/52676652-26a5a580-2f2b-11e9-8009-f8f91551c32e.png)

[2019-02-13 00:03] RenaudGoujat commented on #94
![plan de travail 3](https://user-images.githubusercontent.com/45291042/52676663-302f0d80-2f2b-11e9-9284-3a8ad97b27e2.png)

[2019-02-13 00:06] RenaudGoujat commented on #94
![plan de travail 3](https://user-images.githubusercontent.com/45291042/52676773-8a2fd300-2f2b-11e9-9734-87df0e821e84.png)

[2019-02-13 00:09] RenaudGoujat commented on #94
![plan de travail 1](https://user-images.githubusercontent.com/45291042/52676874-eeeb2d80-2f2b-11e9-94e3-b3667bcaa983.png)

[2019-02-13 00:09] RenaudGoujat commented on #94
![plan de travail 3](https://user-images.githubusercontent.com/45291042/52676887-f8749580-2f2b-11e9-81fb-9dcfb5e895fe.png)

[2019-02-13 00:09] RenaudGoujat commented on #94
![plan de travail 4](https://user-images.githubusercontent.com/45291042/52676895-05918480-2f2c-11e9-87b0-66bc462b4ae1.png)

[2019-02-13 01:26] dschaefer commented on #94
I'm a big fan of this one, Piste A. Very professional and modern.

On Tue, Feb 12, 2019 at 7:09 PM RenaudGoujat <notifications@github.com>
wrote:

[2019-02-13 09:18] jabby commented on #94
Same as @dschaefer I'm falling in  love with "Piste A".

[2019-02-13 10:06] PyvesB commented on #94
Piste A is indeed very nice, however, it reminds me of the Western Digital brand logo.

[2019-02-13 18:40] mickaelistria commented on #94
I like A as well. It's my favorite logo of all proposals.
I don't mind ressemblance with Western Digital. If this is the logo we favor, we can ask the Eclipse IP team to check whether it's a legal issue.

[2019-02-14 12:53] mickaelistria commented on #26
One issue with splitting bundles is that since most LS do share the same npm modules, we'd either have to duplicate some modules or have to set up a strategy to share modules across LS from different bundles.

[2019-02-14 14:26] wimjongman commented on #94
Clearly, @RenaudGoujat is a very skilled designer and agreed, "A" is visually appealing. However, there is nothing "Wild" to be seen here.  It is very mainstream and corporate IMHO. I was hoping for a more exciting logo that does right to the project name. In addition, how will this translate to square icons?

I think there is more promise in "B" (although the christmas must be the most domesticat

[2019-02-14 14:30] mickaelistria commented on #94
Any feedback is welcome at this point. Next week, we'll start discussing a selection process if there seems to be need for it (but currently, it seems like A still is the favorite of majority of committers+mentor)

[2019-02-14 14:35] edertone commented on #94
I would like to say that for me, the most original and the one that most resembles to the meaning of this plugin is the one from [wimjongman] that shows a cowboy riding a horse. However, i think that it should be refined and polished to make it more stylistic and modern.

Maybe changing the typo and refining the cowboy drawing could make it the winner one...

But that logo is for me the best.

[2019-02-14 16:49] yanxi0830 commented on #121
cc @mickaelistria It seems that the following Exception is still emitted whenever an XML file is closed using instances of the server of each LocalXMLLanguageServer.
[code]
Here: https://github.com/yanxi0830/wildwebdeveloper/tree/thread-ls/org.eclipse.wildwebdeveloper/src/org/eclipse/wildwebdeveloper/xml
- [`LocalXMLLanguageServer`](https://github.com/yanxi0830/wildwebdeveloper/blob/thread-ls/org.

[2019-02-14 21:20] mickaelistria commented on #121
This can happen when the stream gets disconnected while the LS is still waiting for some data. Please report it as a bug in LSP4E as this can be improved there.
But as a workaround you may also just ignore or catch this exception if it happens only on closing. As long as the thread is interrupted, we don't care much if it causes an exception.

[2019-02-15 08:18] mickaelistria commented on #26
That said, at the moment, the XML LS has no relationship with other LS and could be extracted to its own bundle.

[2019-02-15 12:16] jonas-jonas opened #131 "Block indentation doesn't work"
When trying to indent multiple lines using the <tab> key, nothing happens.

It should indent all selected lines by one tab.

In the plain generic editor it works and in the classic html, js, css editor too.

# Repro

Completely mark one or more lines and try to indent them via the <tab> key.

cc @vogella

[2019-02-18 10:27] mickaelistria commented on #26
With https://github.com/eclipse/wildwebdeveloper/commit/470b0738862c273b454cb231c50b6ea032b44c78 , I moved the XML support to its own bundle as it doesn't share node_modules with other LS.

[2019-02-18 10:34] jabby commented on #26
Thanks.

[2019-02-18 17:19] mickaelistria commented on #131
What do you mean by "plain generic editor"?
The "Generic Editor" is actually a special editor which has an icon with curly braces. Is this the one you're referencing?
Then it seems to me that this is an issue of this "Generic Editor" for any file. Can you please open a bug to Eclipse Platform/Text?

[2019-02-18 17:25] vogella commented on #131
Works for me in the generic editor for a normal text file. Example:
Create file.txt
Add the following two lines:

[code]

Mark both lines and press tab -> both lines are moved

[2019-02-19 07:22] angelozerr commented on #131
If it works with normal text file, but not with html file (after installing wildwebdeveloper), I suspect it's a bug coming from TM4E language configuration https://github.com/eclipse/tm4e/blob/master/org.eclipse.tm4e.languageconfiguration/src/main/java/org/eclipse/tm4e/languageconfiguration/LanguageConfigurationAutoEditStrategy.java (ex: NPE or other bug).

[2019-02-19 08:50] mickaelistria commented on #131
Thanks @angelozerr , I think you're right. A NPE was fixed some time ago in TM4E (but not released yet) and could be the cause of this issue.
@jonashungershausen @vogella Can you check which version of tm4e plugins are installed on your IDE? And then can you please try latest snapshot of TM4E and repeat whether it fixes or not?

[2019-02-19 08:53] mickaelistria commented on #94
Hi all,

It seems like project mentor and 2 project committers out of 3 agree on using logo submitted by @RenaudGoujat as "Piste A".
I'll start the process of adoption by asking IP team whether they think we can adopt it or about whether they see some issues with it.

[2019-02-20 10:41] vogella commented on #131
@mickaelistria I'm using http://download.eclipse.org/wildwebdeveloper/snapshots. Does that pull in latest snapshot of TM4E?

[2019-02-20 10:45] vogella commented on #131
@jonashungershausen works for me with latest snapshot.

[code]

[2019-02-20 11:07] jonashungershausen commented on #131
For me, the JS and the CSS (SCSS) editors work with the snapshot.

The HTML editor doesn't for me. @vogella reports that his HTML editor works too.

The only difference is his TM4E version, which is 0.3.1 while mine is 0.3.2.

I'm also using Spring Tools 4.1.1 which is based on Eclipse 2019-12.

[2019-02-20 12:42] mickaelistria commented on #131
What are the exact versions (including qualifiers)?

[2019-02-21 12:29] jonashungershausen commented on #131
TextMate Core	0.3.2.201901202056
  Wild Web Developer 0.2.0.201902181018

Not sure about @vogella.

[2019-02-21 16:09] vogella commented on #131
Just re-installed:

Eclipse TM4E	TextMate support in Java	0.3.2.201901202056	org.eclipse.tm4e.core
Eclipse Wild Web Developer project	Wild Web Developer: web development in Eclipse IDE	0.2.0.201902181018	org.eclipse.wildwebdeveloper

[2019-02-21 18:27] jabby commented on #131
@vogella @jonashungershausen
Did you try with the same content in the editor? Did you use the same OS?

[2019-02-21 18:44] vogella commented on #131
Yes

Am Do., 21. Feb. 2019, 19:27 hat Gautier de Saint Martin Lacaze <
notifications@github.com> geschrieben:

[2019-02-22 17:46] mickaelistria commented on #94
Logo has been approved for usage by the IP team.
We can proceed with adoption: adding it to README, to marketplace, and so on.

[2019-02-24 09:56] mickaelistria commented on #94
Hi @RenaudGoujat , thanks a lot for your work.
Would you mind contributing the various files related to this logo (including some vectorial ones ideally) inside the project tree (in a `logo` folder) and submit them as a pull request ?

[2019-02-25 07:57] RenaudGoujat commented on #94
Hi @mickaelistria, thank you for your nice feedback. Would it be possible to have a precise list of the graphic elements that you will need ? I plan send you the logo in different sizes and formats with a favicon, but will I need to add other elements ? Thank you everyone for giving me the opportunity to contribute to your project.

[2019-02-25 08:51] mickaelistria commented on #94
I think we'll need the "banner" (logo + name) in the size you already provided, and also in vectorial project (.ai or .xcf) in case we need to extract derive it in the future for use-case we didn't think about yet.
Then, it's mostly square icons (with transparent background) for light background in different sizes (16, 32, 64, 128, 256), and also square icon with background for cases where the bac

[2019-02-25 13:29] guw commented on #112
@jonahgraham @mickaelistria What is the decision/action items on this one? I have a similar requirement, i.e. I'm about to build an Eclipse plug-in that ships a language server which requires Node at runtime. For best out of the box experience I'm investigating embedding Node in Eclipse.

I like to re-use anything that's been created here.

[2019-02-25 14:24] jonahgraham commented on #112
Hi @guw, +1 to what Mickael said. I would love to find the time to work on this, but it is low priority for me too. At the moment my energy is on a special project :-) https://twitter.com/JonahGrahamKC/status/1098531058100944898

[2019-02-27 10:36] vogella opened #133 "Conflicting keybindings"
If I start my Eclipse with JDT and wildwebdeveloper I see:

Binding(CTRL+SHIFT+T,
	ParameterizedCommand(Command(org.eclipse.jdt.ui.navigate.open.type,Open Type,
		Open a type in a Java editor,
		Category(org.eclipse.ui.category.navigate,Navigate,null,true),
		org.eclipse.ui.internal.WorkbenchHandlerServiceHandler@1124dd79,
		,,true),null),
	org.eclipse.ui.defaultAcceleratorConfiguration,
	org.ecli

[2019-02-28 12:19] emvidi opened #135 "Typescript comment toggle"
Hi there,
     I am trying some typescript dev on eclipse with this plugin and noticed that is not possible to toggle a comment like in java with `CTRL + /`. Is there another keyboard shortcut or is not possible at the moment?

[2019-02-28 12:38] mickaelistria commented on #135
It's supposed to be either `Ctrl+Shift+C` or `Ctrl+Shift+/`. Look in Window > Preferences > General > Keys and see the binding for "toggle comments` which belongs to the "TM4E" category.

[2019-02-28 14:38] emvidi commented on #135
Nothing for typescript, but the one for javascript does work when I change .ts to .js
![screenshot from 2019-02-28 15-36-14](https://user-images.githubusercontent.com/37313823/53573935-df482780-3b6e-11e9-9fce-c4e0a04a5e7e.png)

[2019-02-28 14:41] mickaelistria commented on #135
Can you check which version of plugin `org.eclipse.tm4e.languageconfiguration` is installed (Help > About > Installation Details > Plugins) ?
Your screenshot here seems to miss important features of TM4E.

[2019-02-28 14:52] emvidi commented on #135
![screenshot from 2019-02-28 15-51-12](https://user-images.githubusercontent.com/37313823/53574890-ccceed80-3b70-11e9-92ee-f55668ea505b.png)

[2019-02-28 15:00] mickaelistria commented on #135
Ok, so it seems like Wild Web Developer doesn't explicility declare the dependency to org.eclipse.tm4e.languageconfiguration. I'm adding it in a patch and hope it'll fix your issue.

[2019-02-28 15:01] emvidi commented on #135
![screenshot from 2019-02-28 15-58-33](https://user-images.githubusercontent.com/37313823/53575393-bd9c6f80-3b71-11e9-8e0c-bd76b951a629.png)

Sorry for wasting your time, I have reinstalled and now works. I was missing the language plugin. Thanks for the help

[2019-02-28 15:03] mickaelistria commented on #135
The languageconfiguration plugin should have been installed automatically. So you found an actual bug, and a workaround ;)

[2019-02-28 15:04] emvidi commented on #135
Glad could help, thanks for the work on this plugin :)

[2019-03-01 08:03] #135 closed

[2019-03-01 09:46] mickaelistria commented on #83
@jabby Can we have a 1st version that just hardcodes the preferences and later we'll see which ones require to be exposed as dedicated preferences?
Also, have you worked with upstream LS to suggest that the default configuration should be good enough to go without further engineering from adopters? That can be a key factor of success if they want their LS to spread wider and faster.

[2019-03-01 12:02] mickaelistria opened #138 "Add Angular support in editor (done in TypeScript files, TODO in HTML files)"
Angular provides a language server ( https://github.com/angular/vscode-ng-language-service/tree/master/server ) which is already used by VSCode.
We should try to add this into Wild Web Developer.

[2019-03-01 12:07] mickaelistria commented on #110
@edertone would you be interested in trying to contribute this support? I think it's mostly a matter of 1. adding https://www.npmjs.com/package/typescript-tslint-plugin to https://github.com/eclipse/wildwebdeveloper/blob/master/org.eclipse.wildwebdeveloper/language-servers/package.json and then 2. update https://github.com/eclipse/wildwebdeveloper/blob/master/org.eclipse.wildwebdeveloper/src/org/e

[2019-03-01 12:20] mickaelistria commented on #138
We may try to extract the LS from VSCode like we do for some LS already, but things would be much simple if we manage to get https://github.com/angular/vscode-ng-language-service/issues/317 resolved first.

[2019-03-01 12:39] emvidi commented on #138
wow, I was just going to open an issue exactly for this
:)

[2019-03-01 15:55] angelozerr commented on #138
@mickaelistria I had managed angular support inside Eclipse with https://github.com/angelozerr/angular-eclipse

It uses tsserver instead of using LSP, but now you have integrated https://github.com/theia-ide/typescript-language-server you should be able to use typescript plugin . The angular project provides a tsserver plugin for angular. To enable it, you must declare it in your tsconfig.json:

[

[2019-03-01 17:11] jabby commented on #83
I will try to add next week. Not sure because I will move from my home to new one in few weeks and I need to pack all my things.

[2019-03-02 10:23] edertone commented on #110
Hi @mickaelistria I would be interested in doing this contribution, but since i've never done any eclipse plugin development I may require some time to setup the environment and get used to it. If I do it it will be on spare time and I don't know how much time will it take

[2019-03-02 10:27] angelozerr commented on #138
@mickaelistria instead of managing plugin inside tsconfig.json, we could do that like you suggest with tslint https://github.com/eclipse/wildwebdeveloper/issues/110#issuecomment-468644535

[2019-03-04 08:37] mickaelistria commented on #110
You need "Eclipse Plugin Developer Environment" installed in your IDE.
Then you clone this repo and run `mvn clean verify`.
You can use `File > Open projects from filesystem` to open the repo in the IDE.
Then in the IDE or in command-line, you can tweak things and then run `mvn clean verify` to rebuild the npm dependencies. Once it's done, either you can try from the IDE to do `Run As > Eclipse Ap

[2019-03-04 08:43] angelozerr opened #139 "[XML] Preferences page for XML"
The lsp4xml provides a lot of preferences that you can see at https://github.com/redhat-developer/vscode-xml#supported-vs-code-settings

It should be cool if WWD provides a preference page to configure XML formatting, XML catalog, XML file associations, etc

An idea is to provide XML preferences page like this:

 * Language Servers
   * Formatting (commons formatting preferences (like for any lang

[2019-03-04 08:50] mickaelistria commented on #139
Implementing preference pages is quite specific and expensive. While I think there is value in it, I'd rather see Wild Web Developer focusing first on supporting more things better out of the box in an hardcoded way (YAML, shemas associations, Angular, Vue, React, TSLint...) as it provides much more value and will attract much more contributors and users.

TabSize and InsertSpaces should not requi

[2019-03-04 08:57] angelozerr commented on #139
I agree with you, but IMHO I think if we wish to show that lsp4xml is a a competitor of WTM/XML Editor, we should provide thoses XML preferences page.

[2019-03-04 12:36] mickaelistria commented on #133
It's https://bugs.eclipse.org/bugs/show_bug.cgi?id=527785

[2019-03-04 14:01] jabby commented on #139
By default, I think it's a good idea to have user preferences pages. I understand that implementing specific pages is expensive but it provides great values for user.
I don't know how to create good preference page but I wonder if we can generate some of them or just the content of a page from package.json configuration in vscode-clients. See https://github.com/redhat-developer/vscode-xml/blob/mas

[2019-03-04 14:50] yanxi0830 commented on #139
I've actually started with this in https://github.com/yanxi0830/wildwebdeveloper/tree/xml-preference, which provides a "Formatting" and "XML Catalog" page under a XML main page. It's still a work in progress, let me know if you have any suggestions.

[2019-03-04 15:02] angelozerr commented on #139
@yanxi0830 you read in my mind, that's very cool!

It should be fantastic if you could manage too

 * Validation preferences
 * XML file associations

I have few comments about your work:

 * label should be externalized in messages properties (NLS.bind ...). I think we should have a message properties file per language server, but it's just my opinion.

 * in your buildCustomSettings, instead of

[2019-03-04 15:19] mickaelistria commented on #139
@yanxi0830 cool, thanks. That said, I suggest you don't spend too much effort on such pages at the moment (you can complete the current work though) until we get feedback from end-users expressing the need for it. WTP/SSE/XML is not the best UX of these days, we shouldn't mimic without clear ROI. We should avoid building more things that necessary as it creates a time cost for us and a cognitive c

[2019-03-04 15:23] angelozerr commented on #139
It's a cool feature to associate your XML file (by using pattern name) with an XML Schema
See https://github.com/redhat-developer/vscode-xml/wiki/Preferences#file-associations and https://github.com/angelozerr/lsp4xml/wiki/Configuration#file-associations for more info.

[2019-03-04 15:25] mickaelistria commented on #139
Ok, so it's mostly like a catalog entry then?

[2019-03-04 15:27] mickaelistria commented on #139
Or by "XML Catalog" you mean "XML namespaces catalog"?

[2019-03-04 15:55] yanxi0830 commented on #139
@angelozerr @mickaelistria Thanks for the feedback! I'll take a look.

I agree. I was thinking it might be more beneficial to mimic what vscode is doing by allowing end-users to directly edit json configurations for custom settings, which could be re-used for all LS. But I'm not sure how it can be integrated in the preference page without a json editor.

[2019-03-04 16:16] mickaelistria commented on #139
I'm also curious about how much end-users like to edit the .json settings in VSCode.
In my opinion, whenever a end-user has to change settings, it highlights an issue in the application either not configured properly out of the box or not being smart enough to sort out some decent configuration from the context. I would like this stack to reduce the "load" on the user and move the challenging part

[2019-03-04 16:27] angelozerr commented on #139
settings in VSCode.

It's very cool since you can benefit with JSON completion settings.

Le lun. 4 mars 2019 à 17:16, Mickael Istria <notifications@github.com> a
écrit :

[2019-03-04 16:33] angelozerr commented on #139
At first XML file association is an idea coming from the project https://github.com/microclimate-devops/xml-language-server

It's a non standard mean to bind a XML file with a XML Schema with pattern (like **/*po*.xml). XML Catalog has this feature but without pattern.

[2019-03-04 19:31] yanxi0830 commented on #138
According to [angular/vscode-ng-language-service](https://marketplace.visualstudio.com/items?itemName=Angular.ng-template), they are running a duplicate version of typescript service along with `@angular/language-service`.
So I think the result of using a separate angular language server would be equivalent to adding `angular/language-service` plugin for tsserver as @angelozerr have suggested. I t

[2019-03-04 19:39] mickaelistria commented on #138
Ok. But how is the typescript-language-server going to work with HTML documents?

[2019-03-04 21:16] angelozerr commented on #138
Indeed it was the same problem with old vscode-tslint, that's why I had created https://github.com/angelozerr/tslint-language-service which is a typescript plugin and https://www.npmjs.com/package/typescript-tslint-plugin replaces now my project.

In other words using @angular/language-service as typescript plugin is the well mean.

It's a very good question and it's one reason why vscode doesn't

[2019-03-05 07:54] mickaelistria commented on #94
@RenaudGoujat Feel free to tell me if you need more details than what's in the previous comment. Im the meantime, I'd just extract the logo and banner from your proposal to put it in README and in Marketplace. We'll replace it with better versions ASAP.

[2019-03-05 11:13] vk011 opened #140 "Custom snippets/templates"
Hi,
The extension is great, but is it possible to add custom snippets to it? I have snippets set for built in JavaScript support but they are not showing because I guess the files have to be opened with generic text editor.

So any way to connect JavaScript snippets to this, or add snippets just for the extension?

[2019-03-05 11:16] mickaelistria commented on #140
Do you mean snippets defined with Eclipse JSDT ?

[2019-03-05 11:20] vk011 commented on #140
I don't have the JSDT plugin installed if that is what you mean, I have Eclipse Web Developer tools installed if it makes a difference.

Anyway what I meant by "snippets defined" is at Window > Preferences > JavaScript > Editor > Templates

Can those snippets be somehow read by this extension, or can I somehow create snippets for this extension which is fine as well.

[2019-03-05 11:26] mickaelistria commented on #140
This preference page is not provided by Wild Web Developer. I guess you have JSDT installed.
For the moment, Wild Web Developer doesn't host a snippet registry. And I don't think it's the priority of any of the current contributors to implement that. But if you want to contribute such, it would be welcome, especially if snippets do reuse a generic and common format that is understood by many tools

[2019-03-05 12:58] edertone commented on #110
Thanks @mickaelistria I will try to find some weekend to check this out...

[2019-03-06 15:46] mickaelistria commented on #122
LSP4XML now published p2 repo at https://lsp4xml.jfrog.io/lsp4xml/generic-local/p2/lsp4xml/0.4.0-SNAPSHOT/
After the upcoming release, we should initiate this work and adopt it -unless issues- when LSP4XML 0.4.0 releases.

[2019-03-07 21:11] mickaelistria commented on #56
So this was merged.
I already edited the marketplace entry to associate Wild Web Developer with .yaml and .yml files, so the number of installation should grow naturally.
@yanxi0830 Do you want to take care about adding your video to README and twitting about it (linking to video I guess would be best) ?

[2019-03-07 21:36] #56 closed

[2019-03-11 15:55] mickaelistria commented on #138
So how does VSCode provide Angular completion in HTML documents then?
Our last experiments show the exact same issue as https://github.com/angelozerr/angular-eclipse/issues/97 . Do you know how to work around it?

[2019-03-11 16:07] angelozerr commented on #138
It doesn't use angular ls directly and use extra code which consumes angular ls. In other words, it doesn't use LSP.

The only ugly mean that I found is to modify the tsserver.js https://github.com/angelozerr/angular-eclipse/issues/97#issuecomment-314683721

In other words we must wait for  Microsoft/TypeScript#17151

[2019-03-12 17:23] angelozerr opened #143 "[XML] Support for autoCloseTags"
XML language server supports a custom command to manage auto close tag (which is very nice when you are editing XML content).

I have started to implement this feature with `org.eclipse.ui.genericeditor.autoEditStrategies`:

[code]
See https://github.com/angelozerr/lsp4e-xml/blob/master/org.eclipse.lsp4e.xml/plugin.xml#L139 and https://github.com/angelozerr/lsp4e-xml/blob/7e14cc109c2bcc80809c6625d

[2019-03-12 17:44] yanxi0830 commented on #143
Sure thing! I'll take a look.

[2019-03-12 17:45] mickaelistria commented on #143
I'd rather not rely on custom commands. LSP offers the `workspace/applyEdit` server to client message for auto-edits. This is standard and already supported in LSP4E. I don't think we need anything else to cover tis job, so let's stick to standard.

[2019-03-12 18:01] mickaelistria commented on #138
Can't we already include support for Angular in the TS files? The typescript-language-server is currently only associated with .js/.ts file so it shouldn't pollute the HTML ones and we may already get some value from Angular support without much trouble.

[2019-03-12 18:02] angelozerr commented on #143
Thanks!

I don't remember how it works, but if lsp4xml needs some change, please create an issue for that with some explanation. Thanks!

[2019-03-12 18:04] mickaelistria commented on #143
Ok, I will.
I suggest we do not change anything in Wild Web Developer and get it more mainstream in LSP4XML then.

[2019-03-12 18:07] mickaelistria commented on #143
See https://github.com/angelozerr/lsp4xml/issues/324

[2019-03-12 19:15] angelozerr commented on #138
Yes like I have done with Angular Eclipse. It should be sam ething than #110 (comment)

[2019-03-13 07:30] mickaelistria commented on #36
Some work is being done directly on the LS side: https://github.com/Microsoft/vscode/issues/26289
It doesn't allow custom schemas association, but it seems more valuable as use who have specific schema that are not in the schemastore should add it in the .json file for portability across tools.
If we implement this user registry, we'll basically add responsibility to user (add usage complexity) an

[2019-03-13 07:30] #36 closed

[2019-03-13 07:30] mickaelistria commented on #112
Related https://github.com/eclipse/wildwebdeveloper/issues/23

[2019-03-13 07:32] mickaelistria commented on #11
Closing as cannot reproduce. I think several changes in LSP4E fixed that.

[2019-03-13 07:32] #11 closed

[2019-03-13 07:36] mickaelistria commented on #139
Is there a public XML Schema/file association we can use, which would be similar to https://schemastore.azurewebsites.net/api/json/catalog.json

[2019-03-13 17:26] RenaudGoujat commented on #94
[WWD_LOGO.zip](https://github.com/eclipse/wildwebdeveloper/files/2962798/WWD_LOGO.zip)

Hi Everyone,

I didn't manage to create a new pull request.

Please find attached the WWD logo in different sizes, image file formats and colors.
Let me know if it is ok.

Have a nice day,
Renaud

[2019-03-14 21:23] mickaelistria opened #144 "Better support TypeScript debugging"
TypsScript debugging needs to be a better citizen:

1. it was never tried nor reported as working
2. how to should be documented
3. Tests added
4. Overall workflow improved

[2019-03-14 21:26] mickaelistria opened #145 "Support for typescript-eslint"
We should enable typescript-eslint support in Wild Web Developer.

[2019-03-14 21:27] mickaelistria commented on #110
TSLint is now deprecated: https://www.infoq.com/news/2019/02/tslint-deprecated-eslint
We won't build support for deprecated technologies.
Support for the recommended typescript-eslint can be discussed in #145

[2019-03-14 21:27] #110 closed

[2019-03-14 21:39] mickaelistria commented on #94
Thank you very much @RenaudGoujat ! As those are big files, I've not put them in the repo, but instead put a README with a link (see https://github.com/eclipse/wildwebdeveloper/commit/6915c75581dcdf38230c60424124cdeac386c557 )
I did update the Marketplace entry.

[2019-03-14 21:39] #94 closed

[2019-03-14 21:48] PyvesB commented on #94
Looks great on the marketplace! 👍

[2019-03-15 08:41] mickaelistria commented on #145
Related to #49

[2019-03-15 19:08] yanxi0830 commented on #138
Currently using the @angular/language-service with typescript-language-server only works with typescript files, and executing the language server with html templates reports ts errors. I've opened https://github.com/theia-ide/typescript-language-server/issues/104

[2019-03-15 19:48] mickaelistria commented on #138
Thanks @yanxi0830 , do you already have the @angular/language-server working in Wild Web Developer? If yes, does it bring enough value in your opinion? If yes, then feel free to submit a PR for that part and we'll take care of the HTML part when upstream issues has a solution or a good workaround.

[2019-03-15 20:14] yanxi0830 commented on #138
@mickaelistria yes, currently it is working with TS files. I'll make a PR soon, although I think this only brings a little value since users can add the @angular/language-server to tsconfig.json in their Angular project if they want to accomplish the same thing.

[2019-03-15 20:43] mickaelistria commented on #138
I think support out of the box is much nicer than having to tweak some config files. The way tsconfig.json works (user having to care about the tool) is arguable, so if we can be a bit better, that's nice.
Moreover, it allows us to start checking the buzzword bingo line "Angular support out-of-the-box" and try to fish some new users with it ;)

[2019-03-17 19:26] jabby commented on #138
I'm ok with the proposal. It's better to have the latest angular-service than nothing.
If someone need a specific angular-service for a project, we can open a new issue and work on specific integration.

[2019-03-18 08:49] angelozerr opened #147 "Support for angular-cli with Terminal / Wizard / Launches"
As wwd will provide Angular support, it should be cool if wwd could provide angular-cli support as I had done at https://github.com/angelozerr/angular-eclipse/wiki/AngularCLI

This feature requires improve of TM Terminal (to track command in the terminal to react according the commands (ex : ng-new must generate an Eclipse Project, ng-server must open a Web Browser, etc). See https://bugs.eclipse.

[2019-03-20 14:58] mbooth101 opened #149 "Eliminate dep on org.apache.commons.io"
The dependency on org.apache.commons.io can be entirely eliminated by using a try-with-resources style block to remove the need for using IOUtils.closeQuietly().

[2019-03-25 15:32] DKLEEE commented on #124
Can these Processes at least be closed, if the last Editor is closed?

I can´t reproduce exactly when a new Process is opened, sometimes i have only two, but in extreme cases my TaskManager looked like this, with no open Editor in Eclipse

![grafik](https://user-images.githubusercontent.com/16030367/54930245-3eebe580-4f17-11e9-98d4-8efcc0475f1c.png)

All of these Processes regularly open and close

[2019-03-25 15:52] mickaelistria commented on #124
The framework you're using is supposed to close the process when editor is closed.
We'll investigate, but if in the meantime you find some determistic simple case to reproduce the issue, that would be an interesting hint.

[2019-03-25 16:25] angelozerr commented on #124
I'm not sure with my comment, but perhaps it's the same issu ethan https://github.com/angelozerr/lsp4xml/issues/328

[2019-03-26 07:34] nimo23 opened #151 "[JS/TS] html and css within tagged template strings"
Please provide
- "Syntax highlighting" and
- "Content Assist/Code Completion"
for html and css inside of JavaScript and TypeScript tagged template strings within wwdevs "generic editor".

For example:
[code]

[2019-03-26 07:57] nimo23 opened #152 "include chromium browser"
Would be nice to include "chromium browser" with support for opening the "web developer tools" within eclipse. With this, all the web developer experience from chrome is automatically included within eclipse.. For example, when opening "index.html" with "Open With->Chrome Browser". Maybe the wwdev tools can integrate it like this:

http://blog.diniscruz.com/2013/09/opening-up-native-chrome-browser

[2019-03-26 08:00] mickaelistria commented on #151
We use TextMate grammars for syntax highlighting. I guess highlighting HTML tags is mostly a matter of finding a better grammar. Are you aware of some good grammar you'd recommend?
For code completion, we use the typescript-language-server from https://github.com/theia-ide/typescript-language-server . Can you please request it on that project and then link to the newly created issue?

[2019-03-26 08:03] mickaelistria commented on #152
As the bug you linked highlights, that is something that needs to be first enabled in Eclipse Platform directly.

[2019-03-26 08:07] nimo23 commented on #151
Ok, created code completion issue:

https://github.com/theia-ide/typescript-language-server/issues/106

[2019-03-26 08:10] nimo23 commented on #151
Searching for textmate grammers for html and css..

- https://github.com/desandro/CSS3.tmbundle
- https://github.com/drnic/html-tmbundle
- https://github.com/bingeboy/TextMate-HTML5-Bundle

[2019-03-26 09:23] jabby commented on #151
@nimo23 Do you need syntax highlighting for jsx / tsx files ?
If yes I think we can use the following grammar from vscode: https://github.com/Microsoft/vscode/blob/master/extensions/javascript/syntaxes/JavaScriptReact.tmLanguage.json

[2019-03-26 09:35] angelozerr commented on #151
* "Syntax highlighting" and

As @mickaelistria explained, it's managed with TextMate with tm4e which is able to manage injection of another grammar https://github.com/eclipse/tm4e/wiki/UI#external-grammar-injection . Angular Eclipse uses that https://github.com/angelozerr/angular-eclipse/blob/master/ts.eclipse.ide.angular.ui/plugin.xml#L274

 * "Content Assist/Code Completion"
for html and css ins

[2019-03-26 09:39] nimo23 commented on #151
Syntax highlighting within tagged template literals should work with **js/jsx/tsx**,
because in all of those files "tagged template literals" can be used.

[2019-03-26 13:28] paulvi opened #153 "Add more screenshots to marketplace"
Please add more screenshots to https://marketplace.eclipse.org/content/eclipse-wild-web-developer-html-css-javascript-typescript-json-yaml-xml-nodejs

#58

[2019-03-26 13:32] mickaelistria commented on #153
Do you have some metrics or actual end-user reports confirming that adding more screenshots lead to more installations?

[2019-03-26 14:01] paulvi commented on #153
well, I would say that it will actually decrease number of installation, as some can evaluate project fit, without actually installing :-E

[2019-03-26 14:07] paulvi opened #154 "Migrate Nodeclipse users"
I see with latest development here, particularly Node.js debugging,
it is maybe good idea for Web/Node.js developer not to install @Nodeclipse tools at all

And https://nodeclipse.github.io/ could just point to WWD for Web/Node.js  tools.

[2019-03-26 14:08] paulvi opened #155 "Roadmap"
Is there some roadmap of planned development to share?

[2019-03-26 14:09] mickaelistria commented on #154
Thanks.
That would be welcome. It seems like Wild Web Developer (With Language Server and Debug Adapters) is the most consensual project for Web development in Eclipse IDE these day. Any project that is fine self-deprecating and redirecting to Wild Web Developer is welcome to do it!

[2019-03-26 14:10] paulvi commented on #153
P.S. The current only screenshot is likely just too old.

[2019-03-26 14:12] mickaelistria commented on #155
Nope. All the backlog is available as GitHub issues and discussions on the ticket help to figure out what's likely to be implemented in the next weeks. As it's a distributed project and most contributors are navigating between various projects, I don't think we can build a finer grain roadmap that what the issue tracker provides, nor commit on resolution of issue X on day Y. It's an agile open-sou

[2019-03-26 14:12] #155 closed

[2019-03-26 14:24] paulvi commented on #154
In reality Nodeclipse Node.js tools had no development within https://github.com/Nodeclipse/nodeclipse-1 for 3-4 years, and the latest js additions actually came from Albert @de-jcup work.

The project went from early period when people were joining to just bring pieces that could add value,
to some middle period when new users were just demanding.

And mainly I have not been using Node.js even fo

[2019-03-26 14:28] paulvi commented on #147
I would if vuejs CLI would need similar work.

[2019-03-26 14:33] paulvi commented on #83
just 👍 here.

And hoping @jabby moving went with dominantly good feelings.

[2019-03-26 16:43] vogella opened #156 "CSS editor does not close bracket"
The CSS support is very nice in wild web developer but the editor currently does not automatically close opening brackets.

Example: Create a new css file and add the following rule:

H1 { -> after typing the opening bracket I would expect that the closing bracket is created automatically.

[2019-03-26 18:22] mickaelistria commented on #156
Either the language-configuration for .css is not properly configured in Wild Web Developer, or it's correctly configured and TM4E doesn't properly take the given rules into account.
If bracket closing works for other languages, it's more likely the 1st one.

[2019-03-26 20:44] nimo23 opened #157 "tsx and jsx must be within textmate language configuration"
Actually, only *.ts and *.js are registered in wwd-TextMate-Configuration (Grammar, Language Config).

Please add "*.tsx" and ".jsx" also.

[2019-03-26 21:07] mickaelistria commented on #157
In which cases are those .jsx/.tsx files used?

[2019-03-26 21:31] nimo23 commented on #157
Cases are the nearly the same as for "js" and "ts" files:

https://www.reactenlightenment.com/react-jsx/5.1.html

- jsx files are typical for react in javascript
- tsx are typical for react in typescript.

However, such files are generally used when using html/xml syntax within javascript.

Textmate config for jsx:
https://github.com/jjeising/javascript-jsx.tmbundle

I am not sure if jsx-textmate

[2019-03-26 21:31] angelozerr commented on #157
tsserver is able to support completion, hove etc for jsx/tsx.

wwd should use `TypeScriptReact.tmLanguage.json`  like https://github.com/angelozerr/typescript.java/blob/master/eclipse/jsdt/ts.eclipse.ide.jsdt.ui/plugin.xml#L789

[2019-03-26 21:35] angelozerr commented on #157
IMHO wwd should use:

 * for TypeScript (ts, tsx)-> https://github.com/Microsoft/vscode/tree/master/extensions/typescript-basics/syntaxes

 * for JavaScript (js, jsx) -> https://github.com/Microsoft/vscode/tree/master/extensions/javascript/syntaxes

[2019-03-26 21:36] mickaelistria commented on #154
I'm closing this one as there is no concrete things we can do from Wild Web Developer side on that matter.

[2019-03-26 21:36] #154 closed

[2019-03-26 21:37] mickaelistria commented on #153
If you want to take care of taking a few interesting screenshots, that'd be welcome.

[2019-03-26 22:02] angelozerr commented on #151
I don't think it's teh goal of thea-ide. It's a plugin TypeScript that you must use like

 * for CSS -> https://github.com/mrmckeb/typescript-plugin-css-modules
 * for HTML -> https://github.com/Microsoft/typescript-lit-html-plugin

IMHO wwd should provide a property or preferences page to select typescript plugins to start. It will follow the same idea than vscode settings.json https://github.com

[2019-03-26 22:09] mickaelistria commented on #151
Thanks Angelo, we'll try to add those typescript plugins in Wild Web Developer soon.

[2019-03-26 22:11] mickaelistria commented on #157
Are tsx file valid TypeScript files, are jsx files valid JavaScript files or do they have some incompatibilties?

[2019-03-26 22:16] nimo23 commented on #157
tsx is a superset of ts and jsx is a superset of js.

The only difference is to provide xml/html like syntax within jsx/tsx, which is not eligible in js/ts.

[2019-03-26 22:30] mickaelistria commented on #157
I've added jsx and tsx support, exactly in the same way as js and ts (using the same grammars and same language server). I think it's enough to cover the initial request. Please give a try to snapshots and open new tickets for further requests.

[2019-03-26 22:32] mickaelistria commented on #156
Bracket closing works for me. Can you please tell your version of Wild Web Developer and TM4E?
Also, can you please check in Preferences > TextMate > Language Configuration, for the org.eclipse.wildwebdeveloper.css content-type whether "Auto-Closing pairs" seem correct and the "Enable auto-closing" checkbox is checked?

[2019-03-27 09:16] jabby commented on #156
Works for me too with:

[code]

[2019-03-27 11:17] nimo23 commented on #156
The same goes for "html", "js(x)", "ts(x)".
The Generic Editor does not auto insert the closing brackets in general.

[2019-03-27 11:19] mickaelistria commented on #156
@nimo23 Please details the version of `org.eclipse.tm4e.languageconfiguration` you have installed on your IDE.

[2019-03-27 11:31] nimo23 commented on #156
The option "Enable auto closing brackets" is always enabled for all textmate-configs by default. However, auto-closing does not work for all of the files.

- Wild Web Developer v0.2.0.201903111934
- Eclipse IDE JEE, Version: 2019-03
- org.eclipse.tm4e.languageconfiguration: v0.3.2.201901202045

[2019-03-27 16:53] mickaelistria commented on #156
I just tried exactly the same thing: downloaded and installed Eclipse IDE for Enterprise Java developers, installed Wild Web Developer from Marketplace wizard, ended up with same version of Wild Web Developer and TM4E as you listed and could not reproduce.
While I don't challenge the existence of this bug, I'm clearly not able to reproduce it, hence fix it. It seems necessary that someone who actu

[2019-03-27 17:04] mickaelistria commented on #151
Ok, I opened the following CQs to request IP approval to use

- Newer TextMate grammars: http://dev.eclipse.org/ipzilla/show_bug.cgi?id=19425
- TypeScript+CSS plugin http://dev.eclipse.org/ipzilla/show_bug.cgi?id=19433
- TypeScript+HTML plugin http://dev.eclipse.org/ipzilla/show_bug.cgi?id=19434

[2019-03-27 17:40] mickaelistria commented on #124
Please report a dedicated issue about it.

[2019-03-28 07:13] brychcy commented on #55
I cannot find a setting for specifing the node location.

Am I overlooking something?

I have node installed it below my home directory.

Putting it in the PATH is not an option on macOS, as PATH cannot be changed for Apps launched from the Finder and is "PATH=/usr/bin:/bin:/usr/sbin:/sbin".

[2019-03-28 07:34] pebbles186 opened #158 "jQuery auto complete"
Please add support for jQuery when editing JavaScript code. This would be very helpful.
Or is there already support for this and I am doing something wrong?

[2019-03-28 07:39] mickaelistria commented on #55
There is currently no user setting (preference page) for Node.js location. A contribution to add this and manage node.js installation (as a preference page) would be a good contribution.
There is a developer setting to control the location of node.js, it's about setting the system property `org.eclipse.wildwebdeveloper.nodeJSLocation`.
To work around the limitations of your OS, you can put a symbo

[2019-03-28 07:41] mickaelistria commented on #158
Is https://stackoverflow.com/a/32052431/2427750 a viable workaround?

[2019-03-28 08:31] mickaelistria commented on #151
All CQs approved.

[2019-03-28 09:20] brychcy commented on #55
Thanks, that works.

I'm using a quite old version (v6.10.1) because newer versions are not compatible with our build files, but it seems to work.

As a suggestion, it would be nice to have at least some documentation on the marketplace page what node version is actually required.

[2019-03-28 09:28] mickaelistria commented on #55
FWIW, I think documentation is a bad smell and a very not optimal approach.
The story of node.js detection must be improved inside the code and the
plugin, that's the only thing that will concretely improve the user
experience.

[2019-03-28 09:56] pebbles186 commented on #158
Yes, this works for me.
Installed it with
`npm install @types/jquery`
Thanks for the quick reply!

[2019-03-28 09:56] #158 closed

[2019-03-28 10:35] jabby commented on #149
I just created #159

[2019-03-28 11:23] mickaelistria commented on #151
So do I get it right that the .jsx/.tsx files should use the React grammar while plain .js/.ts should keep using the regular grammar?

[2019-03-28 11:51] nimo23 commented on #151
**There are 2 distinctions:**
- The grammar for "xml/html/css **within** ES-Template-Literal should be used for **js/ts/jsx/tsx**.
- The grammer for "react", where xml/html-syntax can be used without ES-Template-Literal should only be within jsx/tsx.

[2019-03-28 11:57] mickaelistria commented on #151
See https://github.com/eclipse/wildwebdeveloper/pull/160
We're reusing grammars from VSCode, and VSCode grammars seem to only allow the 2nd case and not provide so good syntax highlighting for case 1.

[2019-03-28 12:00] nimo23 commented on #151
Okay, simple solution: **use grammar for jsx/tsx also for js/ts.**, because jsx/tsx is nothing more than js/ts with xml/html embeeded.

[2019-03-28 12:04] nimo23 commented on #151
By the way, a lot of users use *.js even when using html within react-files..

[2019-03-28 12:13] nimo23 commented on #151
vs code also allows/hightslights this xml-syntax even for simple js/ts files:

<img width="530" alt="grafik" src="https://user-images.githubusercontent.com/3045549/55156822-32f06580-515b-11e9-8e09-ce17c6230ce6.png">

[2019-03-28 12:22] nimo23 commented on #151
And this is a js-file within VS Code with html inside of template literals (code completion and syntax highlighting for css/html works also for js-files).

<img width="395" alt="grafik" src="https://user-images.githubusercontent.com/3045549/55157374-80210700-515c-11e9-8303-395a658a840b.png">

[2019-03-28 14:46] mickaelistria commented on #151
I merged a patch adding some support, and snapshots are available for testing at http://download.eclipse.org/wildwebdeveloper/snapshots . Please open more specific tickets for defects you may find.

[2019-03-28 14:46] #151 closed

[2019-03-28 16:17] nimo23 commented on #151
@mickaelistria I updated to

Wild Web Developer - Web Dev in Eclipse IDE 1.0.0.05-cLopnh7735K397I5973
and also updated

<img width="662" alt="grafik" src="https://user-images.githubusercontent.com/3045549/55172503-6e4e5c80-517a-11e9-8877-0d533ba15631.png">

**However, few problems:**

- syntax highlighting does **not** work for html and css in "js, jsx, ts, tsx"
- syntax highlighting for jsx does

[2019-03-28 16:41] mickaelistria commented on #151
I tried locally on a fresh IDE and I could see most of the things you mention working well, with the same version of dependencies.
Where is this " 1.0.0.05-cLopnh7735K397I5973" coming from. Could it be possible that you have installed another plugin that conflicts with Wild Web Developer?

[2019-03-28 17:00] nimo23 commented on #151
I installed wwdev from marketplace at first. Then I added http://download.eclipse.org/wildwebdeveloper/snapshots to update wwdev. Now I have the updated version of wwdev.

You see the "1.0.0.05-cLopnh7735K397I5973" at the bottom of the picture:

<img width="610" alt="grafik" src="https://user-images.githubusercontent.com/3045549/55177127-c9844d00-5182-11e9-923b-ea5e5a440e08.png">

Maybe, wwdev con

[2019-03-28 17:02] jabby commented on #149
The MR #159 was merged by @mickaelistria
A snapshot version of Wild Web Developer is available here https://download.eclipse.org/wildwebdeveloper/snapshots/

[2019-03-28 17:02] #149 closed

[2019-04-08 12:23] pebbles186 opened #162 "NPE for projects on network drive"
Hey,

I'm getting following error "Error while computing completion" -> NullPointerException.
This is the case when I opened a Javascript file in a project which is stored on a network drive.
I'm using eclipse 2019-03 on Windows 10.

When copying the project into my local workspace it works fine.

`!ENTRY org.eclipse.lsp4e 4 0 2019-04-08 14:21:19.330
!MESSAGE java.lang.NullPointerException
!STACK

[2019-04-08 12:33] pebbles186 commented on #162
I found a workaround. I added the project now via a windows uri:
X:\files\html\development -> code completion works fine
\\FILESTORAGE\files\html\development -> errors occur

[2019-04-08 12:41] mickaelistria commented on #162
Indeed, the underlying frameworks rely on a lot on the idea of file and file locations.
It was never tested with network locations AFAIK, but it would be a great addition. The issue is that I'm not aware of many contributors to this project using Windows to take care of it.
Do you have some knowledge in Eclipse plugin development to help troubleshooting that?

[2019-04-08 12:45] pebbles186 commented on #162
Unfortunately not, I have never done plugin development.

[2019-04-09 21:02] zulus opened #163 "Wild Web Developer install jdt.core"
It's really important?

[2019-04-09 22:12] jabby commented on #163
Hello @zulus I don't understand what is your problem.
I don't see any link to jdt.core in Wild Web Developer for end-user. Is it relative to the target platform?

[2019-04-10 07:52] zulus commented on #163
Something have this plugins in dependencies. While installing wild web developer into Eclipse for PHP jdt.core was added.

[2019-04-10 08:22] angelozerr commented on #163
Is it because of this unit dependency ?

https://github.com/eclipse/wildwebdeveloper/blob/master/target-platform/target-platform.target#L16

[2019-04-10 09:44] mickaelistria commented on #163
Having some bundle declared in TP is not enough to make it a requirement for installation.
I see org.eclipse.jdt.core is also installed in the Rust IDE package, so it could be something in LSP4E that trigger it. IIRC, PDE has a "Plugin Dependencies" tools that would help a lot troubleshooting that: define the PHP/Corrosion/Wild Web Developer IDE as target platform and use the Plugin Depdencies vie

[2019-04-10 18:48] KhlaponinIO opened #164 "Add JSON formatting"
Cannot format JSON neither through Ctrl+Shift+F nor through RMB->Format (this menu item even inactive). On the other hand, code completion works as expected.

OS: Centos 7, Java 8, Eclipse 2018-12

[2019-04-11 09:05] mickaelistria commented on #164
The current JSON language server used by Wild Web Developer (the one from VSCode 1.25) doesn't declare the "format" capability. I'll try some newer  language server.

[2019-04-11 09:35] mickaelistria commented on #164
I tried with newer Language Server (in VSCode 1.33) and it still doesn't bring formatting easily.
It has some handling of formatting, but the enablement seems really tied to VSCode `settings.xml` description: https://github.com/Microsoft/vscode/tree/master/extensions/json-language-features/server .  We don't want to use this in Wild Web Developer.
I think it's an upstream issue in VSCode, I'm goin

[2019-04-11 09:49] mickaelistria commented on #164
See https://github.com/Microsoft/vscode/pull/72124 & https://github.com/Microsoft/vscode/pull/72125

[2019-04-11 11:02] mickaelistria commented on #164
So VSCode isn't really interested in the simple approach because of VSCode-specific issues, I'll make a hack on Wild Web Developer side tweaking the LS ;)

[2019-04-11 11:07] KhlaponinIO commented on #164
Sounds good :)

[2019-04-11 11:12] ctron opened #165 "Unreasonable memory consumption when editing XML files"
Having two Eclipse IDEs open, and a hand full of XML files, with the new LSP I have a huge amount of memory consumed for editing a few XML files:

[code]

For the memory percentage, the machine has 32GB RAM.

[2019-04-11 13:04] angelozerr commented on #165
@ctron please report this issue at https://github.com/angelozerr/lsp4xml by attaching your XML file and give us more info about memory (I don't see some memory number in your comment). Thanks!

[2019-04-11 13:21] mickaelistria commented on #164
Fixed with c980f55f7a5de3dcbebbfb3bdfd240ed669634fc . Will be available in snapshots p2 repository within a few minutes.

[2019-04-11 13:21] #164 closed

[2019-04-11 13:47] KhlaponinIO commented on #164
Good job! Thanks for such a quick fix :)

[2019-04-11 14:06] ctron commented on #165
I added the header, that should show the memory.

[2019-05-03 07:15] mickaelistria opened #167 "Build video demo of Angular component edition"
Build video demo of Angular component in TypeScript files

[2019-05-03 07:17] mickaelistria commented on #152
Another approach, that's likely to be implemented at some point, is to add the Chromium and/or Firefox debug adapter. This will allow to run/debug a web page (and JS) by starting it in the browser.

[2019-05-03 07:18] mickaelistria commented on #138
Angular works in TypeScript files, this bug can still be used to track support for ng attributes in HTML files.

[2019-05-03 07:20] mickaelistria commented on #37
Formatting JSON is working with current release.

[2019-05-03 07:20] #37 closed

[2019-05-03 07:22] mickaelistria commented on #44
I'm closing this as the need for it seems really small.
If it becomes an actual issue at some point, we can try to fix it in LSP4E (disabling the code mining reconciler), but I doubt it's useful at the moment.

[2019-05-03 07:22] #44 closed

[2019-05-06 11:27] jabby commented on #163
FYII checked with the plugin dependencies view and the only plugin I saw from jdt is the `org.eclipse.jdt.annotation`.
It's a dependency of lsp4e.

[2019-05-14 08:41] mickaelistria opened #168 "Build demo video of HTML edition with live preview"
Coupling Wild Web Developer to edit HTML with the "Auto-refresh" feature of the Eclipse IDE internal browser gives a pleasant workflow. We should build a video demo of this workflow.

[2019-05-15 08:33] mickaelistria commented on #145
See https://www.npmjs.com/package/@typescript-eslint/eslint-plugin

[2019-05-15 08:37] mickaelistria commented on #49
I'm closing it in favor of #145

[2019-05-19 20:33] Gilles-France opened #169 "Javascript Code completion does not work"
Hi, the WWD seems a great tool ! (according to the demo https://www.screencast.com/t/BaC9DxHIqD ).
Unfortunately it is impossible for me to make it work properly on a fresh Eclipse package (2019-03).
The JAVASCRIPT completion does not work.
As a beginner in javascript devt, I need the main steps for installation and **configuration** of WWD (I mean : what configuration on global Eclipse options, b

[2019-05-19 21:06] jabby commented on #169
Hello,
First I'm glad you try this plugin. I'm sorry to hear you can't use it now.

In order to help you,  can you provide the exact version of Eclipse IDE you used.
In the IDE, you can go to `Help > About Eclipse IDE > Right clic on the text from the popup > Copy build ID information to clipboard`, then paste it in a new comment here.
Do you have any error message when you open the editor?

Other

[2019-05-20 21:11] Gilles-France commented on #169
Hello,
thank you very much for your fast reply.

My problem was linked with my PATH variable that does not contain NODE.JS.
I did not pay attention to a popup alert telling me that Node.js could not be found (the message does not contain any origin).
![missing_nodejs](https://user-images.githubusercontent.com/50808694/58051587-e1f56000-7b52-11e9-805b-dc1610462ebd.png)

In the past, I have uncompre

[2019-05-21 05:51] Gilles-France commented on #169
missing info :
[code]

[2019-05-21 07:24] mickaelistria commented on #169
As you can see in https://github.com/eclipse/wildwebdeveloper/blob/master/org.eclipse.wildwebdeveloper/src/org/eclipse/wildwebdeveloper/InitializeLaunchConfigurations.java#L61 , you can use a Java system property (usually set in the eclipse.ini with a `-Dkey=value` line after `-vmargs`) to enforce a specific location to Node.js.
There are already opened issues addressing better control of node.js

[2019-05-21 07:24] #169 closed

[2019-06-03 08:56] mickaelistria commented on #147
I can keep the issue open, but I don't think we'll ever work on this. It requires a lot of effort to be implemented properly and we already have the integrated Terminal in Eclipse IDE to deal with this kind of issues.

[2019-06-03 20:49] mickaelistria commented on #165
Dup of #124 and related to #121

[2019-06-03 20:49] #165 closed

[2019-06-03 23:26] kyliau commented on #138
Hello all! Kinda late to the party here, but I've started working on the Angular LS, and wondering if there's anything I can help. @yanxi0830, could you please share your setup? How do you load `@angular/language-service`?
Based on what I've read about tsserver plugin so far, I wrote a summary [here](https://github.com/angular/vscode-ng-language-service/issues/338)

[2019-06-04 14:05] nitind commented on #163
It's in your M3 EPP package: https://ci.eclipse.org/packaging/job/simrel.epp-tycho-build/426/artifact/org.eclipse.epp.packages/archive/20190530-0926_eclipse-javascript-2019-06-M3-linux.gtk.x86_64.tar.gz . Is it supposed to be?

[2019-06-04 14:25] mickaelistria commented on #163
In an ideal world, it shouldn't be in; but we probably won't be able to fix this bug in time, and having jdt.core in doesn't harm much (beyond the disk space and network cost).

[2019-06-04 20:52] yanxi0830 commented on #138
@kyliau Hello there! If I remember correctly, I integrated through setting via the global plugins `initializationOptions` here https://github.com/eclipse/wildwebdeveloper/blob/master/org.eclipse.wildwebdeveloper/src/org/eclipse/wildwebdeveloper/jsts/JSTSLanguageServer.java#L48

which does something like adding `--pluginProbeLocations` argument while initializing the server.

[2019-06-04 20:58] mickaelistria commented on #138
@kyliau Hi, thanks for coming here.
FYI, @yanxi0830 is not working on Wild Web Developer any more, but the project still have high interest in improving Angular support.

Wild Web Developer includes `@angular/language-service` 7.2.9 (and I also tried with 8.0.0) as you can see in https://github.com/eclipse/wildwebdeveloper/blob/master/org.eclipse.wildwebdeveloper/language-servers/package-lock.json

[2019-06-04 23:33] kyliau commented on #138
I've seen the exact issue (HTML gets parsed as TS) before, but I could no longer reproduce the error using TS 3.4.5. What's the TS version that you tested with?

Somehow the plugin must tell tsserver to "pass me HTML files in addition to TS".
From the setup you mentioned, I couldn't think of any places this is done other than the `getExternalFiles()` call to the `@angular/language-service`.

In my

[2019-06-05 19:13] mickaelistria commented on #138
I've locally upgraded to TypeScript 3.5.8, typescript-language-server 0.3.8 and @angular/language-service 8.0.0 and still see the error parsing HTML.

The tsserver command is `/usr/bin/node /home/mistria/git/wildwebdeveloper/org.eclipse.wildwebdeveloper/language-servers/node_modules/typescript/lib/tsserver.js --globalPlugins @angular/language-service,typescript-plugin-css-modules,typescript-lit-ht

[2019-06-05 19:43] jabby commented on #138
@mickaelistria are you sure the node_modules folder was updated with the version you want?
See https://github.com/eclipse/wildwebdeveloper/pull/170#issuecomment-499226472 for some explanations about update to new version of dependencies through `npm`.

[2019-06-06 11:24] mickaelistria commented on #124
Fixed with newer LSP4E snapshot build + https://github.com/eclipse/wildwebdeveloper/commit/8d1c4797619cf932aa6021553e01627ef40cbb0e

[2019-06-06 11:24] #124 closed

[2019-06-06 14:05] #49 closed

[2019-06-20 09:34] angelozerr commented on #165
@mickaelistria @ctron I'm improving lsp4xml to have better performance (with large file) and use less memory. All my work was merged in the lsp4xml master. The 0.8.0 release should be done in 2 july.

@mickaelistria once 0.8.0 will be available, I suggest you that you integrate it in wwd. I think there are too interesting features https://github.com/angelozerr/lsp4xml/milestone/9

Anyway please gi

[2019-06-27 13:50] robmv opened #174 "Show error and log to Eclipse if tsserver could not be started"
wildwebdeveloper was installed on a clean Enterprise Java Developers 2019‑06 package (for Linux). Using "Install New Software".

The new language servers are listed on the preferences "Language Servers" entry. Opening an existing TypeScript file, the editor tried is Geneic Text Editor (The others present are the Text Editor and External). There is syntax coloring, but no Outline, Code completion t

[2019-06-27 13:54] mickaelistria commented on #174
It requires `node` to be in PATH but should warn when it's not there. `tsserver` is embedded (not required).
What's the output of `node --version` for you?
Also, could you please try to prepared "Eclipse IDE for JavaScript and Web development" package directly at https://www.eclipse.org/downloads/eclipse-packages/ and see if it starts better?

[2019-06-27 13:57] robmv commented on #174
Fedora packaged Node.js

[code]

[2019-06-27 14:37] robmv commented on #174
With the another Eclipse package it fails with another exception, but it looks like is project layout dependent or my migrated workspace settings, because a new workspace and a new simple project, with an empty TypeScript file doesn't trigger it, and code completion options are shown. Will try to isolate if my project layout is the source of the problem. I have been using @angelozerr TypeScript ID

[2019-06-27 23:55] angelozerr commented on #174
Thanks @robmv to migrate to Wild Web Developer. Could you share your project please? Where is your tsconfig.json file (on the root of your project?)

[2019-06-28 08:53] angelozerr commented on #139
I discover it and I love it because you can update settings from UI or directly in the .json file and you benefit with completion, validation. It should be cool if preferences Eclipse could provide this kind of feature.

![VSCodeSettingsDemo](https://user-images.githubusercontent.com/1932211/60330439-b99f2380-9992-11e9-8fa3-b540db2f5c5b.gif)

IMHO WWD should really provide preferences to configure

[2019-06-28 09:08] mickaelistria commented on #139
Ability to edit preferences textually a topic to bring to the Eclipse Platform, not something we can tackle in LSP4E. And it actually shouldn't be too hard to have something usable in Platform.

I don't think it is likely to reach the top of our todo-list soon because their are good workarounds (by good I mean practices that are more generally valuable as they would improve the IDE at large or the

[2019-06-28 14:21] robmv commented on #174
Found the problem and is related to my workspace layout, not an specific project. I have a non conventional `node_modules` directory in my workspace directory. Wild Web Developer is using the tsserver from it, and have problems starting it, but the error is not shown to the user or logged on the standard Eclipse log file.

The error is only shown on stderr of the Eclipse main process. I noticed it

[2019-07-02 23:11] bsutton opened #177 "How to use the Polymer Language server with wild web."
Is it possible to use the Polymer IDE language server with Wild Web?

https://github.com/Polymer/tools/tree/master/packages/editor-service

If so how is it configured?

[2019-07-02 23:13] bsutton opened #178 "Where is the documentation?"
I've googled all over and I can't find any documentation on the Wild Web.

Where is the doco?

Can we get a link to the doco from the readme page as well as from the official eclipse page.

[2019-07-03 06:01] mickaelistria commented on #177
Wild Web Developer currently doesn't include Polymer support.
It certainly could be added, so if you're interested in contributing this, that's highly welcome.
You can also experiment locally: install the language server where you want, create a "External Launch Configuration > Program" describing how to start it, and then in Preferences > Language Servers, you can associate this launch with HTML

[2019-07-03 06:02] mickaelistria commented on #178
There is no documentation. If you're interested in contributing some, it would be very welcome and should leave in a `documentation` folder in the Git repo.